<form method="post" action="{{ path('play_genre_musicaux_delete', {'id': play_genre_musicaux.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ play_genre_musicaux.id) }}">
    <button class="btn">Delete</button>
</form>
