{{ form_start(form) }}
<div class="panel-body">
  
 
    {{ form_widget(form) }}
    <br>
     {%if play_genre_musicaux.photo!=null%}
                        <div class="row">
                                <span>Image: </span>
                               <img src="{{asset('images/genre_musicaux/')}}{{play_genre_musicaux.photo}}" style="width:100px;height: 80px" class="img" alt="Aucune image">
                        <a class="btn btn-danger" title="supprimer" href="{{ path('genre_musicaux_Photo', { 'id': play_genre_musicaux.id }) }}"><i class="fa fa-close"></i></a>
                                               
                        </div>
                        {% endif%}
 <br>
             <div class=" text-center">
                    <button class="btn btn-info">{{ button_label|default('Enregistrer')}}</button>
             </div>
{{ form_end(form) }}