{% extends 'template.html.twig' %}
{% block title %}
 
  Genres musicaux | Modifier    
{% endblock %}
{% block hearder %}
<div class="pageheader">
    <h3>
        <i class="fa fa-home"></i>Accueil
    </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">vous êtes ici:</span>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    Accueil
                </a>
            </li>
            <li class="active">
                Modifier un genre musical
            </li>
        </ol>
    </div>
</div>
{% endblock %}

{% block body %}
   <div class="col-sm-6 eq-box-sm">
        <div class="panel-heading">
            <div class="panel-control">
                <a class="btn btn-info" href="{{ path('play_genre_musicaux_index') }}" title="Retour à la liste"><i class="fa fa-chevron-left"></i></a>
                
            </div>
            <h3 class="panel-title">Modifier un genre musical</h3>
        </div>

        {{ include('play_genre_musicaux/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{% endblock %}