{% extends 'template.html.twig' %}
{% block title %}
 Genre musical | Liste 
 {% endblock %}

{% block hearder %}
<div class="pageheader">
    <h3>
        <i class="fa fa-home"></i>Accueil
    </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">vous êtes ici:</span>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    Accueil
                </a>
            </li>
            <li class="active">
                Liste des genres musicaux
            </li>
        </ol>
    </div>
</div>
{% endblock %}

{% block body %}
    <a class="btn btn-info "  href="{{ path('play_genre_musicaux_new') }}"><i class="fa fa-user-plus" ></i> Ajouter un genre musical</a> 
    <br><br>
            
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Liste des genre musicaux</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered" id="studentTable">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Photo</th>
                <th>Vue</th>
            </tr>
        </thead>
        <tbody>
        {% for play_genre_musicaux in play_genre_musicauxes %}
            <tr>
                <td>{{ play_genre_musicaux.titre }}</td>
                <td>{{ play_genre_musicaux.contenu | raw}}</td>
                 <td><img src="{{asset('/images/genre_musicaux/')}}{{ play_genre_musicaux.photo }}"
                                    alt="{{ play_genre_musicaux.photo }}"
                                    width="50"
                                    height="50"
                 </td>
                <td>
                        <a class="btn btn-success" title="éditer" href="{{ path('play_genre_musicaux_edit', { 'id': play_genre_musicaux.id }) }}"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#modal-default{{ play_genre_musicaux.id }}" title="Supprimer" ><i class="glyphicon glyphicon-trash" ></i></a>
                         <a class="btn btn-info " title="Détails"  href="{{ path('play_genre_musicaux_show', { 'id': play_genre_musicaux.id }) }}"><i class="fa fa-info-circle" ></i></a> 
                </td>
            </tr>
            
            <div class="modal fade" id="modal-default{{ play_genre_musicaux.id }}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Suppression des genres musicaux</h4>
                        </div>
                        <div class="modal-body">
                            <h4>Voulez-vous vraiment supprimer ce genre musical ?</h4>
                        </div>
                        <div class="modal-footer">
                                <a class="btn btn-default pull-left" aria-hidden="true" data-dismiss="modal">Annuler</a>
                                <a class="btn btn-danger " title="Supprimer"  href="{{ path('play_genre_musicaux_delete', { 'id': play_genre_musicaux.id }) }}">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('play_genre_musicaux_new') }}">Create new</a>
{% endblock %}
