{% extends 'template.html.twig' %}

{% block title %}Genre musical | Détails{% endblock %}

{% block body %}
    <h2>Détails d'un genre musical</h2>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ play_genre_musicaux.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ play_genre_musicaux.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ play_genre_musicaux.contenu }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ play_genre_musicaux.type }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ play_genre_musicaux.photo }}</td>
            </tr>
            <tr>
                <th>Vue</th>
                <td>{{ play_genre_musicaux.vue }}</td>
            </tr>
            <tr>
                <th>DateEnreg</th>
                <td>{{ play_genre_musicaux.dateEnreg ? play_genre_musicaux.dateEnreg|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
