{% extends 'template.html.twig' %}
{% block title %}
 Bannière | Liste 
 {% endblock %}

{% block hearder %}
<div class="pageheader">
    <h3>
        <i class="fa fa-home"></i>Accueil
    </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">vous êtes ici:</span>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    Accueil
                </a>
            </li>
            <li class="active">
                Liste des bannières
            </li>
        </ol>
    </div>
</div>
{% endblock %}

{% block body %}
    <a class="btn btn-info "  href="{{ path('home_banniere_new') }}"><i class="fa fa-user-plus" ></i> Ajouter une bannière</a> 
    <br><br>
            
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Liste des bannières</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered" id="studentTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Lien</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for home_banniere in home_bannieres %}
            <tr>
                <td>{{ home_banniere.id }}</td>
                <td>{{ home_banniere.titre }}</td>
                <td>{{ home_banniere.description }}</td>
                <td>{{ home_banniere.lien }}</td>
                <td><img src="{{asset('/images/bannieres/')}}{{ home_banniere.photo }}"
                                    alt="{{ home_banniere.photo }}"
                                    width="50"
                                    height="50"
                 </td>
                 <td>
                        <a class="btn btn-success" title="éditer" href="{{ path('home_banniere_edit', { 'id': home_banniere.id }) }}"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#modal-default{{ home_banniere.id }}" title="Supprimer" ><i class="glyphicon glyphicon-trash" ></i></a>
                         <a class="btn btn-info " title="Détails"  href="{{ path('home_banniere_show', { 'id': home_banniere.id }) }}"><i class="fa fa-info-circle" ></i></a> 
                </td>
            </tr>
            
            <div class="modal fade" id="modal-default{{ home_banniere.id }}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Suppression des bannières</h4>
                        </div>
                        <div class="modal-body">
                            <h4>Voulez-vous vraiment supprimer cette bannière ?</h4>
                        </div>
                        <div class="modal-footer">
                                <a class="btn btn-default pull-left" aria-hidden="true" data-dismiss="modal">Annuler</a>
                                <a class="btn btn-danger " title="Supprimer"  href="{{ path('home_banniere_delete', { 'id': home_banniere.id }) }}">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
