{% extends 'template.html.twig' %}

{% block title %} Bannière | Détails{% endblock %}

{% block body %}
    <h2>Détails d'une bannière</h2>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ home_banniere.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ home_banniere.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ home_banniere.description }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ home_banniere.lien }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ home_banniere.photo }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ home_banniere.etat ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>DateEnreg</th>
                <td>{{ home_banniere.dateEnreg ? home_banniere.dateEnreg|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Random</th>
                <td>{{ home_banniere.random }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
