<form method="post" action="{{ path('play_top_single_delete', {'id': play_top_single.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ play_top_single.id) }}">
    <button class="btn">Delete</button>
</form>
