{% extends 'template.html.twig' %}

{% block title %}Top single | Détails{% endblock %}

{% block body %}
    <h2>Détails d'un top single</h2>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ play_top_single.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ play_top_single.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ play_top_single.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ play_top_single.photo }}</td>
            </tr>
            <tr>
                <th>DateEnreg</th>
                <td>{{ play_top_single.dateEnreg ? play_top_single.dateEnreg|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
{% endblock %}
