{% extends 'template.html.twig' %}
{% block title %}
 Tag | Liste 
 {% endblock %}

{% block hearder %}
<div class="pageheader">
    <h3>
        <i class="fa fa-home"></i>Accueil
    </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">vous êtes ici:</span>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    Accueil
                </a>
            </li>
            <li class="active">
                Liste des tags
            </li>
        </ol>
    </div>
</div>
{% endblock %}

{% block body %}
    <a class="btn btn-info "  href="{{ path('news_tag_new') }}"><i class="fa fa-user-plus" ></i> Ajouter un tag</a> 
    <br><br>
            
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Liste des tags</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered" id="studentTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news_tag in news_tags %}
            <tr>
                <td>{{ news_tag.id }}</td>
                <td>{{ news_tag.titre }}</td>
                 <td>
                        <a class="btn btn-success" title="éditer" href="{{ path('news_tag_edit', { 'id': news_tag.id }) }}"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#modal-default{{ news_tag.id }}" title="Supprimer" ><i class="glyphicon glyphicon-trash" ></i></a>
                         <a class="btn btn-info " title="Détails"  href="{{ path('news_tag_show', { 'id': news_tag.id }) }}"><i class="fa fa-info-circle" ></i></a> 
                </td>
            </tr>
            
            <div class="modal fade" id="modal-default{{ news_tag.id }}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Suppression des tags d'actualités</h4>
                        </div>
                        <div class="modal-body">
                            <h4>Voulez-vous vraiment supprimer ce tag ?</h4>
                        </div>
                        <div class="modal-footer">
                                <a class="btn btn-default pull-left" aria-hidden="true" data-dismiss="modal">Annuler</a>
                                <a class="btn btn-danger " title="Supprimer"  href="{{ path('news_tag_delete', { 'id': news_tag.id }) }}">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('news_tag_new') }}">Create new</a>
{% endblock %}
