{% extends 'template.html.twig' %}

{% block title %}Tag{% endblock %}

{% block body %}
    <h2>Détails d'un tag</h2>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ news_tag.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ news_tag.titre }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
