
{% extends 'front-end/template.html.twig' %}
{% block title %}
<title>Kossa</title>
{% endblock %}


{% block body %}


<div class="container">
    <div class="row ">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-3 mt-5 mb-5 p-md-1 menu-hide-mob">
              <button type="button" class="btn btn-outline-purple btn-rounded btn-sm font-weight-bold">Acceuil</button>
              <a href="actualite.html" class="btn btn-primary btn-news btn-rounded btn-sm font-weight-bold hv-wh-50">Actualité</a>
              <a href="genre.html" class="btn btn-primary btn-news btn-rounded btn-sm font-weight-bold hv-wh-50">Genre</a>
              <a href="new-song.html" class="btn btn-primary btn-news btn-rounded btn-sm font-weight-bold hv-wh-50">News Songs</a>
              <a href="new-video.html" class="btn btn-primary btn-news btn-rounded btn-sm font-weight-bold hv-wh-50">News vidéos</a>
              <a href="top-audio.html" class="btn btn-primary btn-news btn-rounded btn-sm font-weight-bold hv-wh-50">Top 10 KMR Audio</a>
              <a href="top-video.html" class="btn btn-primary btn-news btn-rounded btn-sm font-weight-bold hv-wh-50">Top 10 KMR vidéo</a>
              <a href="playlist.html" class="btn btn-primary btn-news btn-rounded btn-sm font-weight-bold hv-wh-50">Ma playlist</a>
          </div>
          <div class="col-md-9 mt-md-5 position-relative">

            <div class="carousel-playlist" >
              <a href="#" class="une-event">
                <div class="mb-4">
                  <div class="brd-bt-elm toile-content actu-news-img position-relative " style="background-image: url('{{asset('front-end/img/tenor3.jpg')}}')">
                    <div class=" lct-event trs-03 position-absolute h-100 w-100"></div>
                    <div class="h5-responsive pl-3 ls3 position-absolute text-white" style="top:15px;left:10px">
                        MTN | “Offres 3 jours de concert à l'occasion des fête de fin d'année  ‘Plain d'artiste sont attendu’ ”
<div class="text-center d-inline-block mt-2 pr-2 pl-2 ls3 black cl-b3 fs-13 cur-def">Il ya 4 jours</div>
<div class="text-center d-inline-block mt-2 pr-2 pl-2 ls3 red cl-b3 fs-13 cur-def"># Nouveautés</div>
                    </div>

                  </div>
                </div>
              </a>
              <a href="#" class="une-event" >
                <div class="mb-4">
                  <div class="brd-bt-elm toile-content actu-news-img position-relative " style="background-image: url('{{asset('front-end/img/tenor3.jpg')}}')">
                    <div class=" lct-event trs-03 position-absolute h-100 w-100"></div>
                    <div class="h5-responsive pl-3 ls3 position-absolute text-white" style="top:15px;left:10px">
                        MTN | “Offres 3 jours de concert à l'occasion des fête de fin d'année  ‘Plain d'artiste sont attendu’ ”
<div class="text-center d-inline-block mt-2 pr-2 pl-2 ls3 black cl-b3 fs-13 cur-def">Il ya 4 jours</div>
<div class="text-center d-inline-block mt-2 pr-2 pl-2 ls3 yellow cl-b3 fs-13 cur-def"># Divers</div>
                    </div>
                  </div>
                </div>
              </a>
              
            </div>

            <div class="prev-car-playlist position-absolute drt-sld white pl-3 pr-3 pt-1 pb-1 trs-03 d-inline-block cur-pointer z-depth-1" style="top:45%;left:0%">
                <i class="fa fa-arrow-left fs-13 "></i>
            </div>
            <div class="next-car-playlist position-absolute drt-sld white pl-3 pr-3 pt-1 pb-1 trs-03 d-inline-block cur-pointer z-depth-1" style="top:45%;right:0%">
                <i class="fa fa-arrow-right fs-13 "></i>
            </div>

          </div>
          <div class="col-md-12">
            <div class="white p-3 toile-content">
              <div class="h5-responsive font-weight-bold mt-3 mb-1 text-center text-md-left">
                Nouveaux songs
              </div>

              
              <div class="mb-4 mt-3 mt-4">
                
                <div class="p-0 mr-md-2 fs-13 lh-x row">
                  
                  <div class="col-md-6">
                    <div class="h5-responsive font-weight-bold mb-3 text-center text-md-left cl-title-news">
                      Audio
                    </div>
                    <div class="toile-content">
                      <div class="position-relative trs-02 tp-lst tp-lst-elm ">
                        <div class="cl-n2 w-100 cur-def pl-3" title="Stanlay enow-Hé pére">
                            <div class="position-absolute" style="top:5px;left: 10px">1.</div>
                            <div class="d-inline-block position-relative" >
                              <img src="{{asset('front-end/img/top.jpg')}}" class="img-vbl" height="34px" alt="">
                            </div>
                            <div class="d-inline-block ml-1 mwa text-truncate">
                              Stanlay enow<div class="font-weight-bold text-truncate">Hé pére Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, nihil. Ut, dolores? Quia, culpa vel. Voluptate sint ea consequuntur, magni nobis itaque consectetur, omnis error fugiat delectus ratione! Harum, inventore. </div>

                            </div>
                        </div>
                        <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px; z-index: 2;">
                          <span class="btn-play-tp-5 cur-pointer  bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                            <i class="fas fa-play fs-12"></i>
                          </span><span class="btn-addlst-tp-5 cur-pointer ret-plst trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Rétirer de la playListe">
                              <i class="fas fa-trash fs-12"></i>
                            </span>
                        </div>
                        <div class="position-absolute" style="bottom:15px; right: 10px; z-index: 1;">
                          03:30
                        </div>
                      </div>
                      <div class=" position-relative trs-02 tp-lst tp-lst-elm2">
                        <div class="cl-n2 w-100 cur-def pl-3" title="Blanche bailly-Je ne suis pas ton bonbon bonbon">
                            <div class="position-absolute" style="top:5px;left: 10px">2.</div>
                            <div class="d-inline-block position-relative" >
                              <img src="{{asset('front-end/img/top.jpg')}}" class="img-vbl" height="34px" alt="">
                            </div>
                            <div class="d-inline-block ml-1 mwa text-truncate">
                              Stanlay enow<div class="font-weight-bold text-truncate">Hé pére</div>
                            </div>
                        </div>
                        <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px; z-index:2">
                          <span class="btn-play-tp-5 cur-pointer bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                            <i class="fas fa-play fs-12"></i>
                          </span><span class="btn-addlst-tp-5 cur-pointer btn-plst2 trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Ajouter à la playListe">
                              <i class="fas fa-plus fs-12"></i>
                            </span>
                        </div>
                        
                        <div class="position-absolute p-2 z-depth-1 white p-lst d-none cont-plst animated"  alb-sng="Le single" style="right:0px">
                          
                        </div>
                        <div class="position-absolute" style="bottom:15px; right: 10px; z-index: 1;">
                          03:30
                        </div>
                      </div>
                      <div class="position-relative trs-02 tp-lst tp-lst-elm ">
                          <div class="cl-n2 w-100 cur-def pl-3" title="Charlote dipanda-Ndollo">
                              <div class="position-absolute font-weight-bold" style="top:5px;left:10px">3.</div>
                              <div class="d-inline-block position-relative" >
                                <img src="{{asset('front-end/img/top.jpg')}}" class="img-vbl" height="34px" alt="">
                              </div>
                              <div class="d-inline-block ml-1 mwa text-truncate">
                                Stanlay enow<div class="font-weight-bold text-truncate">Hé pére</div>
                              </div>
                          </div>
                          <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px; z-index:2">
                            <span class="btn-play-tp-5 cur-pointer  bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                              <i class="fas fa-play fs-12"></i>
                            </span><span class="btn-addlst-tp-5 ret-plst cur-pointer trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Rétirer la playListe">
                                <i class="fas fa-trash fs-12"></i>
                              </span>
                          </div>
                          <div class="position-absolute" style="bottom:15px; right: 10px; z-index: 1;">
                            03:30
                          </div>
                            
                      </div>
                      <div class=" position-relative trs-02 tp-lst tp-lst-elm2">
                        <div class="cl-n2 w-100 cur-def pl-3" title="Blanche bailly-Je ne suis pas ton bonbon bonbon">
                            <div class="position-absolute" style="top:5px;left: 10px">4.</div>
                            <div class="d-inline-block position-relative" >
                              <img src="{{asset('front-end/img/top.jpg')}}" class="img-vbl" height="34px" alt="">
                            </div>
                            <div class="d-inline-block ml-1 mwa text-truncate">
                              Stanlay enow<div class="font-weight-bold text-truncate">Hé pére</div>
                            </div>
                        </div>
                        <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px; z-index:2">
                          <span class="btn-play-tp-5 cur-pointer bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                            <i class="fas fa-play fs-12"></i>
                          </span><span class="btn-addlst-tp-5 cur-pointer btn-plst2 trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Ajouter à la playListe">
                              <i class="fas fa-plus fs-12"></i>
                            </span>
                        </div>
                        <div class="position-absolute p-2 z-depth-1 white p-lst d-none cont-plst animated"  alb-sng="Le single" style="right:0px">
                          
                        </div>
                        <div class="position-absolute" style="bottom:15px; right: 10px; z-index: 1;">
                          03:30
                        </div>
                      </div>
                      <div class="position-relative trs-02 tp-lst tp-lst-elm ">
                          <div class="cl-n2 w-100 cur-def pl-3" title="Charlote dipanda-Ndollo">
                              <div class="position-absolute font-weight-bold" style="top:5px;left:10px">5.</div>
                              <div class="d-inline-block position-relative" >
                                <img src="{{asset('front-end/img/top.jpg')}}" class="img-vbl" height="34px" alt="">
                              </div>
                              <div class="d-inline-block ml-1 mwa text-truncate">
                                Stanlay enow<div class="font-weight-bold text-truncate">Hé pére</div>
                              </div>
                          </div>
                          <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px; z-index:2">
                            <span class="btn-play-tp-5 cur-pointer  bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                              <i class="fas fa-play fs-12"></i>
                            </span><span class="btn-addlst-tp-5 ret-plst cur-pointer trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Rétirer la playListe">
                                <i class="fas fa-trash fs-12"></i>
                              </span>
                          </div>
                          <div class="position-absolute" style="bottom:15px; right: 10px; z-index: 1;">
                            03:30
                          </div>
                      </div>
                      <div class=" position-relative trs-02 tp-lst tp-lst-elm2">
                        <div class="cl-n2 w-100 cur-def pl-3" title="Blanche bailly-Je ne suis pas ton bonbon bonbon">
                            <div class="position-absolute" style="top:5px;left: 10px">6.</div>
                            <div class="d-inline-block position-relative" >
                              <img src="{{asset('front-end/img/top.jpg')}}" class="img-vbl" height="34px" alt="">
                            </div>
                            <div class="d-inline-block ml-1 mwa text-truncate">
                              Stanlay enow<div class="font-weight-bold text-truncate">Hé pére</div>
                            </div>
                        </div>
                        <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px; z-index:2">
                          <span class="btn-play-tp-5 cur-pointer bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                            <i class="fas fa-play fs-12"></i>
                          </span><span class="btn-addlst-tp-5 cur-pointer btn-plst2 trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Ajouter à la playListe">
                              <i class="fas fa-plus fs-12"></i>
                            </span>
                        </div>
                        <div class="position-absolute p-2 z-depth-1 white p-lst d-none cont-plst animated"  alb-sng="Le single" style="right:0px">
                          
                        </div>
                        <div class="position-absolute" style="bottom:15px; right: 10px; z-index: 1;">
                          03:30
                        </div>
                      </div>
                      <div class="position-relative trs-02 tp-lst tp-lst-elm ">
                          <div class="cl-n2 w-100 cur-def pl-3" title="Charlote dipanda-Ndollo">
                              <div class="position-absolute font-weight-bold" style="top:5px;left:10px">7.</div>
                              <div class="d-inline-block position-relative" >
                                <img src="{{asset('front-end/img/top.jpg')}}" class="img-vbl" height="34px" alt="">
                              </div>
                              <div class="d-inline-block ml-1 mwa text-truncate">
                                Stanlay enow<div class="font-weight-bold text-truncate">Hé pére</div>
                              </div>
                          </div>
                          <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px; z-index:2">
                            <span class="btn-play-tp-5 cur-pointer  bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                              <i class="fas fa-play fs-12"></i>
                            </span><span class="btn-addlst-tp-5 ret-plst cur-pointer trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Rétirer la playListe">
                                <i class="fas fa-trash fs-12"></i>
                              </span>
                          </div>
                          <div class="position-absolute" style="bottom:15px; right: 10px; z-index: 1;">
                            03:30
                          </div>
                      </div>
                      <div class=" position-relative trs-02 tp-lst tp-lst-elm2">
                        <div class="cl-n2 w-100 cur-def pl-3" title="Blanche bailly-Je ne suis pas ton bonbon bonbon">
                            <div class="position-absolute" style="top:5px;left: 10px">8.</div>
                            <div class="d-inline-block position-relative" >
                              <img src="{{asset('front-end/img/top.jpg')}}" class="img-vbl" height="34px" alt="">
                            </div>
                            <div class="d-inline-block ml-1 mwa text-truncate">
                              Stanlay enow<div class="font-weight-bold text-truncate">Hé pére</div>
                            </div>
                        </div>
                        <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px; z-index:2">
                          <span class="btn-play-tp-5 cur-pointer bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                            <i class="fas fa-play fs-12"></i>
                          </span><span class="btn-addlst-tp-5 cur-pointer btn-plst2 trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Ajouter à la playListe">
                              <i class="fas fa-plus fs-12"></i>
                            </span>
                        </div>
                        <div class="position-absolute p-2 z-depth-1 white p-lst d-none cont-plst animated"  alb-sng="Le single" style="right:0px">
                          
                        </div>
                        <div class="position-absolute" style="bottom:15px; right: 10px; z-index: 1;">
                          03:30
                        </div>
                      </div>
                      <div class="position-relative trs-02 tp-lst tp-lst-elm ">
                          <div class="cl-n2 w-100 cur-def pl-3" title="Charlote dipanda-Ndollo">
                              <div class="position-absolute font-weight-bold" style="top:5px;left:10px">9.</div>
                              <div class="d-inline-block position-relative" >
                                <img src="{{asset('front-end/img/top.jpg')}}" class="img-vbl" height="34px" alt="">
                              </div>
                              <div class="d-inline-block ml-1 mwa text-truncate">
                                Stanlay enow<div class="font-weight-bold text-truncate">Hé pére</div>
                              </div>
                          </div>
                          <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px; z-index:2">
                            <span class="btn-play-tp-5 cur-pointer  bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                              <i class="fas fa-play fs-12"></i>
                            </span><span class="btn-addlst-tp-5 ret-plst cur-pointer trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Rétirer la playListe">
                                <i class="fas fa-trash fs-12"></i>
                              </span>
                          </div>
                          <div class="position-absolute" style="bottom:15px; right: 10px; z-index: 1;">
                            03:30
                          </div>
                      </div>
                      <div class=" position-relative trs-02 tp-lst tp-lst-elm2">
                        <div class="cl-n2 w-100 cur-def pl-3" title="Blanche bailly-Je ne suis pas ton bonbon bonbon">
                            <div class="position-absolute" style="top:5px;left: 10px">10.</div>
                            <div class="d-inline-block position-relative" >
                              <img src="{{asset('front-end/img/top.jpg')}}" class="img-vbl" height="34px" alt="">
                            </div>
                            <div class="d-inline-block ml-1 mwa text-truncate">
                              Stanlay enow<div class="font-weight-bold text-truncate">Hé pére</div>
                            </div>
                        </div>
                        <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px; z-index:2">
                          <span class="btn-play-tp-5 cur-pointer bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                            <i class="fas fa-play fs-12"></i>
                          </span><span class="btn-addlst-tp-5 cur-pointer btn-plst2 trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Ajouter à la playListe">
                              <i class="fas fa-plus fs-12"></i>
                            </span>
                        </div>
                        <div class="position-absolute p-2 z-depth-1 white p-lst d-none cont-plst animated"  alb-sng="Le single" style="right:0px">
                          
                        </div>
                        <div class="position-absolute" style="bottom:15px; right: 10px; z-index: 1;">
                          03:30
                        </div>
                      </div>
                    </div>
                    <div class="mb-2 mt-3">
                      <a href="#" class="btn btn-purple ml-0 btn-sm font-weight-bold ls3">Plus de new song <i class="fa fa-plus-circle"></i></a>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="h5-responsive font-weight-bold mb-3 text-center text-md-left cl-title-news">
                      Video
                    </div>
                    <div class="toile-content">
                      <div class=" position-relative d-inline-block mb-3">
                        <div class="position-absolute tp-lf0 h-100 w-100 "></div>
                        <div class="content-vid weight-mus2-vid toile-content position-relative ovh" style="background-image: url('{{asset('front-end/img/enow2.jpg')}}')">
                          <div class="position-absolute couv tp-lf0 h-100 w-100"></div>
                          <div class="position-absolute tp-lf0 h-100 w-100 text-center">
                            <div class="position-relative" style="top:25px">
                              <div class="text-center">
                                <div class="d-inline-block btn-in-img tt cur-pointer bnt-plyay-mus cl-n2 p-3 z-depth-1 mr-1"  data-toggle="tooltip" data-placement="top" title="Play"> <i class="fa fa-play "></i></div>
                              </div>
                              <div class="text-center d-inline-block mt-2 pr-2 pl-2 ls3 black cl-b3 fs-13 cur-def">Il ya 4 jours</div>
                            </div>
                          </div>
                        </div>
                          <div class="mt-1 name-mus weight-mus2-vid"><span class="font-weight-bold name-art">Stanlay enow </span><div class="text-truncate"><Span class="text-red">#</Span> Titre du single</div></div>  
                      </div>
                      <div class="position-relative d-inline-block  mb-3">
                        <div class="position-absolute tp-lf0 h-100 w-100"></div>
                        <div class="content-vid weight-mus2-vid toile-content position-relative ovh" style="background-image: url('{{asset('front-end/img/texture2.jpg')}}')">
                          <div class="position-absolute couv tp-lf0 h-100 w-100"></div>
                          <div class="position-absolute tp-lf0 h-100 w-100 text-center">
                            <div class="position-relative" style="top:25px">
                              <div class="text-center">
                                <div class="d-inline-block btn-in-img tt cur-pointer bnt-plyay-mus cl-n2 p-3 z-depth-1 mr-1"  data-toggle="tooltip" data-placement="top" title="Play"> <i class="fa fa-play "></i></div>
                              </div>
                              <div class="text-center d-inline-block mt-2 pr-2 pl-2 ls3 black cl-b3 fs-13 cur-def">Il ya 4 jours</div>
                            </div>
                          </div>
                        </div>
                          <div class="mt-1 name-mus weight-mus2-vid"><span class="font-weight-bold name-art">Dafné </span><div class="text-truncate"><Span class="text-red">#</Span> Titre du single</div></div>  
                      </div>
                      <div class="a-play-cont position-relative d-inline-block  mb-3">
                        <div class="position-absolute tp-lf0 h-100 w-100"></div>
                        <div class="content-vid weight-mus2-vid toile-content position-relative ovh" style="background-image: url('{{asset('front-end/img/nabila.jpg')}}')">
                          <div class="position-absolute couv tp-lf0 h-100 w-100"></div>
                          <div class="position-absolute tp-lf0 h-100 w-100 text-center">
                            <div class="position-relative" style="top:25px">
                              <div class="text-center">
                                <div class="d-inline-block btn-in-img tt cur-pointer bnt-plyay-mus cl-n2 p-3 z-depth-1 mr-1"  data-toggle="tooltip" data-placement="top" title="Play"> <i class="fa fa-play "></i></div>
                              </div>
                              <div class="text-center d-inline-block mt-2 pr-2 pl-2 ls3 black cl-b3 fs-13 cur-def">Il ya 4 jours</div>
                            </div>
                          </div>
                        </div>
                          <div class="mt-1 name-mus weight-mus2-vid"><span class="font-weight-bold name-art">Nabila </span><div class="text-truncate"><Span class="text-red">#</Span> Titre du single</div></div>  
                      </div>
                      <div class="a-play-cont position-relative d-inline-block mb-3">
                        <div class="position-absolute tp-lf0 h-100 w-100"></div>
                        <div class="content-vid weight-mus2-vid toile-content position-relative ovh" style="background-image: url('{{asset('front-end/img/texture1.jpg')}}')">
                          <div class="position-absolute couv tp-lf0 h-100 w-100"></div>
                          <div class="position-absolute tp-lf0 h-100 w-100 text-center">
                            <div class="position-relative" style="top:25px">
                              <div class="text-center">
                                <div class="d-inline-block btn-in-img tt cur-pointer bnt-plyay-mus cl-n2 p-3 z-depth-1 mr-1"  data-toggle="tooltip" data-placement="top" title="Play"> <i class="fa fa-play "></i></div>
                              </div>
                              <div class="text-center d-inline-block mt-2 pr-2 pl-2 ls3 black cl-b3 fs-13 cur-def">03:33</div>
                            </div>
                          </div>
                        </div>
                          <div class="mt-1 name-mus weight-mus2-vid"><span class="font-weight-bold name-art">Tenor </span><div class="text-truncate"><Span class="text-red">#</Span> Titre du single</div></div>  
                      </div> 
                      <div class="a-play-cont position-relative d-inline-block mb-3">
                        <div class="position-absolute tp-lf0 h-100 w-100"></div>
                        <div class="content-vid weight-mus2-vid toile-content position-relative ovh" style="background-image: url('{{asset('front-end/img/locko1.jpg')}}')">
                          <div class="position-absolute couv tp-lf0 h-100 w-100"></div>
                          <div class="position-absolute tp-lf0 h-100 w-100 text-center">
                            <div class="position-relative" style="top:25px">
                              <div class="text-center">
                                <div class="d-inline-block btn-in-img tt cur-pointer bnt-plyay-mus cl-n2 p-3 z-depth-1 mr-1"  data-toggle="tooltip" data-placement="top" title="Play"> <i class="fa fa-play "></i></div>
                              </div>
                              <div class="text-center d-inline-block mt-2 pr-2 pl-2 ls3 black cl-b3 fs-13 cur-def">03:33</div>
                            </div>
                          </div>
                        </div>
                          <div class="mt-1 name-mus weight-mus2-vid"><span class="font-weight-bold name-art">Locko </span><div class="text-truncate"><Span class="text-red">#</Span> Titre du single</div></div>  
                      </div>
                      <div class="a-play-cont position-relative d-inline-block mb-3">
                        <div class="position-absolute tp-lf0 h-100 w-100"></div>
                        <div class="content-vid weight-mus2-vid toile-content position-relative ovh" style="background-image: url('{{asset('front-end/img/elle.jpg')}}')">
                          <div class="position-absolute couv tp-lf0 h-100 w-100"></div>
                          <div class="position-absolute tp-lf0 h-100 w-100 text-center">
                            <div class="position-relative" style="top:25px">
                              <div class="text-center">
                                <div class="d-inline-block btn-in-img tt cur-pointer bnt-plyay-mus cl-n2 p-3 z-depth-1 mr-1"  data-toggle="tooltip" data-placement="top" title="Play"> <i class="fa fa-play "></i></div>
                              </div>
                              <div class="text-center d-inline-block mt-2 pr-2 pl-2 ls3 black cl-b3 fs-13 cur-def">03:33</div>
                            </div>
                          </div>
                        </div>
                          <div class="mt-1 name-mus weight-mus2-vid"><span class="font-weight-bold name-art">Artista </span><div class="text-truncate"><Span class="text-red">#</Span> Titre du single</div></div>  
                      </div>
                    </div>
                    <div class="mb-2 mt-3">
                      <a href="#" class="btn btn-purple ml-0 btn-sm font-weight-bold ls3">Plus de nouveau video <i class="fa fa-plus-circle"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <div class="h5-responsive font-weight-bold mt-3 mb-4 text-center text-md-left">
              Découvez nos dernière actualité
            </div>
            <div class="row">
              <div class="mb-4 col-md-4 col-6 tt">
                <a href="detarticle.html" >
<div class="text-center d-inline-block mt-2 pr-2 pl-2 ls3 red cl-b3 fs-13 cur-def"># Nouveautés</div>
                  <div class="actu-news-acc brd-bt-news brd-tp-news position-relative" style="background-image: url('{{asset('front-end/img/elle.jpg')}}')">
                    <div class="couv position-absolute h-100 w-100"></div>
                  </div>
                  <div class="p-3 white toile-content cl-n1">
                    <div class="h6-responsive font-weight-bold ">
                      Blanche Bailly 
                    </div>
                    <div class="ls3  text-truncate" title="Blanche Bailly | “En concert toute une semaine à douala et yaoundé”">
                      | “En concert toute une semaine à douala et yaoundé”
                    </div>
		    <div class="text-center d-inline-block mt-2 pr-2 pl-2 ls3 black cl-b3 fs-13 cur-def">12 jan 2020</div>

                  </div>
                </a>
              </div>
              <div class="mb-4 col-md-4 col-6 tt">
                <a href="detarticle.html" >
<div class="text-center d-inline-block mt-2 pr-2 pl-2 ls3 red cl-b3 fs-13 cur-def"># Nouveautés</div>
                  <div class="actu-news-acc brd-bt-news brd-tp-news position-relative" style="background-image: url('{{asset('front-end/img/enow3.jpg')}}')">
                    <div class="couv position-absolute h-100 w-100"></div>
                  </div>
                  <div class="p-3 white toile-content cl-n1">
                    <div class="h6-responsive font-weight-bold ">
                      StANLEY ENOW
                    </div>
                    <div class="ls3 text-truncate" title="StANLEY ENOW | “Relence un deuxieme album sur ‘Hé père’ un succès sans nom le fala encore”">
                      | “Relence un deuxieme album sur ‘Hé père’ un succès sans nom le fala encore”
                    </div>
		    <div class="text-center d-inline-block mt-2 pr-2 pl-2 ls3 black cl-b3 fs-13 cur-def">12 jan 2020</div>

                  </div>
                </a>
              </div>
              <div class="mb-4 col-md-4 col-6 tt">
                <a href="detarticle.html" >
<div class="text-center d-inline-block mt-2 pr-2 pl-2 ls3 red cl-b3 fs-13 cur-def"># Nouveautés</div>
                  <div class="actu-news-acc brd-bt-news brd-tp-news position-relative" style="background-image: url('{{asset('front-end/img/daf.jpg')}}')">
                    <div class="couv position-absolute h-100 w-100"></div>
                  </div>
                  <div class="p-3 white toile-content cl-n1">
                    <div class="h6-responsive font-weight-bold ">
                      DAF dafne
                    </div>
                    <div class="ls3 text-truncate" title="StANLEY ENOW | “Relence un deuxieme album sur ‘Hé père’ un succès sans nom le fala encore”">
                        | “Relence un deuxieme album sur ‘Hé père’ un succès sans nom le fala encore”
                    </div>
		    <div class="text-center d-inline-block mt-2 pr-2 pl-2 ls3 black cl-b3 fs-13 cur-def">12 jan 2020</div>

                  </div>
                </a>
              </div>
            </div>
            <div class="mb-5 mt-2">
              <a href="#" class="btn btn-purple ml-0 btn-sm font-weight-bold ls3">Plus de nouvel actualité <i class="fa fa-plus-circle"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 mt-1">
        <div class="mb-md-5 row"></div>
          <div class="white p-3 toile-content mb-2">
          
          <div class="h5-responsive font-weight-bold mt-3 mb-1 text-center text-md-left">
            Official <span class="cl-title-news">Top-10 kmr audio</span>
	    <div class="text-center d-inline-block mt-2 pr-2 pl-2 ls3 btn-news cl-b3 fs-13 cur-def">13 jan 2020</div>
          </div>
          
          <div class="mb-4 mt-3 toile-content">
            <div class="p-0 fs-13 lh-x">
              <div class="position-relative trs-02 tp-lst tp-lst-elm ">
                <div class="cl-n2 w-100 cur-def pl-3" title="Stanlay enow-Hé pére">
                  <div class="position-absolute" style="top:5px;left: 10px">1.</div>
                  <div class="d-inline-block position-relative" >
                    <img src="{{asset('front-end/img/top.jpg')}}" class="img-vbl" height="34px" alt="">
                  </div>
                  <div class="d-inline-block ml-1 mwa text-truncate">
                    Stanlay enow<div class="font-weight-bold text-truncate">Hé pére lo</div>
                  </div>
                </div>
                <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px; z-index: 2;">
                  <span class="btn-play-tp-5 cur-pointer  bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                    <i class="fas fa-play fs-12"></i>
                  </span><span class="btn-addlst-tp-5 cur-pointer ret-plst trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Rétirer de la playListe">
                      <i class="fas fa-trash fs-12"></i>
                    </span>
                </div>
                <div class="position-absolute d-md-none" style="bottom:15px; right: 10px; z-index: 1;">
                  03:30
                </div>
              </div>
              <div class=" position-relative trs-02 tp-lst ">
                <div class="cl-n2 w-100 cur-def pl-3" title="Blanche bailly-Je ne suis pas ton bonbon bonbon">
                  <div class="position-absolute" style="top:5px;left: 10px">2.</div>
                  <div class="d-inline-block position-relative" >
                    <img src="{{asset('front-end/img/top.jpg')}}" class="img-vbl" height="34px" alt="">
                  </div>
                  <div class="d-inline-block ml-1 mwa text-truncate">
                    Blanche bailly<div class="font-weight-bold text-truncate">Je ne suis pas ton bonbon bonbon</div>
                  </div>
                </div>
                <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px; z-index: 2;">
                  <span class="btn-play-tp-5 cur-pointer bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                    <i class="fas fa-play fs-12"></i>
                  </span><span class="btn-addlst-tp-5 cur-pointer btn-plst2 trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Ajouter à la playListe">
                      <i class="fas fa-plus fs-12"></i>
                    </span>
                </div>
                <div class="position-absolute p-2 z-depth-1 white p-lst d-none cont-plst animated"  alb-sng="Le single" style="right:0px">
                  
                </div>
                <div class="position-absolute d-md-none" style="bottom:15px; right: 10px; z-index: 1;">
                  03:30
                </div>
              </div>
              <div class="position-relative trs-02 tp-lst tp-lst-elm ">
                <div class="cl-n2 w-100 cur-def pl-3" title="Charlote dipanda-Ndollo">
                  <div class="position-absolute" style="top:5px;left: 10px">3.</div>
                  <div class="d-inline-block position-relative" >
                    <img src="{{asset('front-end/img/top.jpg')}}" class="img-vbl" height="34px" alt="">
                  </div>
                  <div class="d-inline-block ml-1 mwa text-truncate">
                    Charlote<div class="font-weight-bold text-truncate">Ndollo</div>
                  </div>
                </div>
                <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px; z-index: 2;">
                  <span class="btn-play-tp-5 cur-pointer  bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                    <i class="fas fa-play fs-12"></i>
                  </span><span class="btn-addlst-tp-5 ret-plst cur-pointer trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Rétirer la playListe">
                      <i class="fas fa-trash fs-12"></i>
                    </span>
                </div>
                <div class="position-absolute d-md-none" style="bottom:15px; right: 10px; z-index: 1;">
                  03:30
                </div>
              </div>
              <div class=" position-relative trs-02 tp-lst">
                <div class="cl-n2 w-100 cur-def pl-3" title="X-maleya-Sommet">
                  <div class="position-absolute" style="top:5px;left: 10px">4.</div>
                  <div class="d-inline-block position-relative" >
                    <img src="{{asset('front-end/img/top.jpg')}}" class="img-vbl" height="34px" alt="">
                  </div>
                  <div class="d-inline-block ml-1 mwa text-truncate">
                    X-maleya <div class="font-weight-bold text-truncate">Sommet</div>
                  </div>
                </div>
                <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px; z-index: 2;">
                  <span class="btn-play-tp-5 cur-pointer bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                    <i class="fas fa-play fs-12"></i>
                  </span><span class="btn-addlst-tp-5 cur-pointer btn-plst2 trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Ajouter à la playListe">
                      <i class="fas fa-plus fs-12"></i>
                    </span>
                </div>
                <div class="position-absolute p-2 z-depth-1 white p-lst d-none cont-plst animated"  alb-sng="Le single" style="right:0px">
                  
                </div>
                <div class="position-absolute d-md-none" style="bottom:15px; right: 10px; z-index: 1;">
                  03:30
                </div>
              </div>
              <div class="position-relative trs-02 tp-lst tp-lst-elm ">
                  <div class="cl-n2 w-100 cur-def pl-3" title="Nabilla-Mon précieuxo">
                    <div class="position-absolute" style="top:5px;left: 10px">5.</div>
                    <div class="d-inline-block position-relative" >
                      <img src="{{asset('front-end/img/top.jpg')}}" class="img-vbl" height="34px" alt="">
                    </div>
                    <div class="d-inline-block ml-1 mwa text-truncate">
                      Nabilla<div class="font-weight-bold text-truncate">Mon précieux</div>
                    </div>
                  </div>
                  <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px; z-index: 2;">
                    <span class="btn-play-tp-5 cur-pointer bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                      <i class="fas fa-play fs-12"></i>
                    </span><span class="btn-addlst-tp-5 cur-pointer btn-plst2 trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Ajouter à la playListe">
                        <i class="fas fa-plus fs-12"></i>
                      </span>
                  </div>
                  <div class="position-absolute p-2 z-depth-1 white p-lst d-none cont-plst animated"  alb-sng="Le single" style="right:0px">
                    
                  </div>
                  <div class="position-absolute d-md-none" style="bottom:15px; right: 10px; z-index: 1;">
                    03:30
                  </div>
              </div>
<div class="position-relative trs-02 tp-lst tp-lst-elm ">
                  <div class="cl-n2 w-100 cur-def pl-3" title="Nabilla-Mon précieuxo">
                    <div class="position-absolute" style="top:5px;left: 10px">6.</div>
                    <div class="d-inline-block position-relative" >
                      <img src="{{asset('front-end/img/top.jpg')}}" class="img-vbl" height="34px" alt="">
                    </div>
                    <div class="d-inline-block ml-1 mwa text-truncate">
                      Nabilla<div class="font-weight-bold text-truncate">Mon précieux</div>
                    </div>
                  </div>
                  <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px; z-index: 2;">
                    <span class="btn-play-tp-5 cur-pointer bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                      <i class="fas fa-play fs-12"></i>
                    </span><span class="btn-addlst-tp-5 cur-pointer btn-plst2 trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Ajouter à la playListe">
                        <i class="fas fa-plus fs-12"></i>
                      </span>
                  </div>
                  <div class="position-absolute p-2 z-depth-1 white p-lst d-none cont-plst animated"  alb-sng="Le single" style="right:0px">
                    
                  </div>
                  <div class="position-absolute d-md-none" style="bottom:15px; right: 10px; z-index: 1;">
                    03:30
                  </div>
              </div>
<div class="position-relative trs-02 tp-lst tp-lst-elm ">
                  <div class="cl-n2 w-100 cur-def pl-3" title="Nabilla-Mon précieuxo">
                    <div class="position-absolute" style="top:5px;left: 10px">7.</div>
                    <div class="d-inline-block position-relative" >
                      <img src="{{asset('front-end/img/top.jpg')}}" class="img-vbl" height="34px" alt="">
                    </div>
                    <div class="d-inline-block ml-1 mwa text-truncate">
                      Nabilla<div class="font-weight-bold text-truncate">Mon précieux</div>
                    </div>
                  </div>
                  <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px; z-index: 2;">
                    <span class="btn-play-tp-5 cur-pointer bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                      <i class="fas fa-play fs-12"></i>
                    </span><span class="btn-addlst-tp-5 cur-pointer btn-plst2 trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Ajouter à la playListe">
                        <i class="fas fa-plus fs-12"></i>
                      </span>
                  </div>
                  <div class="position-absolute p-2 z-depth-1 white p-lst d-none cont-plst animated"  alb-sng="Le single" style="right:0px">
                    
                  </div>
                  <div class="position-absolute d-md-none" style="bottom:15px; right: 10px; z-index: 1;">
                    03:30
                  </div>
              </div>
            </div>
<div class="position-relative trs-02 tp-lst tp-lst-elm ">
                  <div class="cl-n2 w-100 cur-def pl-3" title="Nabilla-Mon précieuxo">
                    <div class="position-absolute" style="top:5px;left: 10px">8.</div>
                    <div class="d-inline-block position-relative" >
                      <img src="{{asset('front-end/img/top.jpg')}}" class="img-vbl" height="34px" alt="">
                    </div>
                    <div class="d-inline-block ml-1 mwa text-truncate">
                      Nabilla<div class="font-weight-bold text-truncate">Mon précieux</div>
                    </div>
                  </div>
                  <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px; z-index: 2;">
                    <span class="btn-play-tp-5 cur-pointer bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                      <i class="fas fa-play fs-12"></i>
                    </span><span class="btn-addlst-tp-5 cur-pointer btn-plst2 trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Ajouter à la playListe">
                        <i class="fas fa-plus fs-12"></i>
                      </span>
                  </div>
                  <div class="position-absolute p-2 z-depth-1 white p-lst d-none cont-plst animated"  alb-sng="Le single" style="right:0px">
                    
                  </div>
                  <div class="position-absolute d-md-none" style="bottom:15px; right: 10px; z-index: 1;">
                    03:30
                  </div>
              </div>
<div class="position-relative trs-02 tp-lst tp-lst-elm ">
                  <div class="cl-n2 w-100 cur-def pl-3" title="Nabilla-Mon précieuxo">
                    <div class="position-absolute" style="top:5px;left: 10px">9.</div>
                    <div class="d-inline-block position-relative" >
                      <img src="{{asset('front-end/img/top.jpg')}}" class="img-vbl" height="34px" alt="">
                    </div>
                    <div class="d-inline-block ml-1 mwa text-truncate">
                      Nabilla<div class="font-weight-bold text-truncate">Mon précieux</div>
                    </div>
                  </div>
                  <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px; z-index: 2;">
                    <span class="btn-play-tp-5 cur-pointer bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                      <i class="fas fa-play fs-12"></i>
                    </span><span class="btn-addlst-tp-5 cur-pointer btn-plst2 trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Ajouter à la playListe">
                        <i class="fas fa-plus fs-12"></i>
                      </span>
                  </div>
                  <div class="position-absolute p-2 z-depth-1 white p-lst d-none cont-plst animated"  alb-sng="Le single" style="right:0px">
                    
                  </div>
                  <div class="position-absolute d-md-none" style="bottom:15px; right: 10px; z-index: 1;">
                    03:30
                  </div>
              </div>
<div class="position-relative trs-02 tp-lst tp-lst-elm ">
                  <div class="cl-n2 w-100 cur-def pl-3" title="Nabilla-Mon précieuxo">
                    <div class="position-absolute" style="top:5px;left: 10px">10.</div>
                    <div class="d-inline-block position-relative" >
                      <img src="{{asset('front-end/img/top.jpg')}}" class="img-vbl" height="34px" alt="">
                    </div>
                    <div class="d-inline-block ml-1 mwa text-truncate">
                      Nabilla<div class="font-weight-bold text-truncate">Mon précieux</div>
                    </div>
                  </div>
                  <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px; z-index: 2;">
                    <span class="btn-play-tp-5 cur-pointer bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                      <i class="fas fa-play fs-12"></i>
                    </span><span class="btn-addlst-tp-5 cur-pointer btn-plst2 trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Ajouter à la playListe">
                        <i class="fas fa-plus fs-12"></i>
                      </span>
                  </div>
                  <div class="position-absolute p-2 z-depth-1 white p-lst d-none cont-plst animated"  alb-sng="Le single" style="right:0px">
                    
                  </div>
                  <div class="position-absolute d-md-none" style="bottom:15px; right: 10px; z-index: 1;">
                    03:30
                  </div>
              </div>
          </div>
          <div class="text-center mb-2">
              <a href="#" class="btn btn-purple btn-sm btn-rounded font-weight-bold ls3">Plus de top kmr <i class="fa fa-plus-circle"></i></a>
            </div>
          </div>

          <div class="white p-3 toile-content mb-2">
            <div class="text-center mt-3">
              <img src="{{asset('front-end/img/svg/mascot.svg')}}" id="mascot-news" alt="">
            </div>
            <div class="h5-responsive font-weight-bold mt-3 mb-1 text-center text-md-left">
              Vous étes nouveau sur la plateforme Kossa ?
            </div>
            <div class="mb-3  text-center text-md-left">
              Inscrivez-vous et découvrez des music du pays au multiple culture.
            </div>
            <div class="text-center">
              <a href="" class="btn btn-purple btn-sm btn-rounded font-weight-bold ls3">S'inscrire</a>
              <div class="mt-2 mb-3 text-center">
                <span class="font-weight-bold">ou</span> <br> vous avez déjà un compte ?
              </div>
              <a href="" class="btn btn-outline-purple btn-sm btn-rounded font-weight-bold ls3 mb-2">Se connecter</a>
            </div>
            
            </div>
          
<div class="white p-3 toile-content mb-2">
          
          <div class="h5-responsive font-weight-bold mt-3 mb-1 text-center text-md-left">
            Official <span class="cl-title-news">Top-10 kmr vidéo</span>
	    <div class="text-center d-inline-block mt-2 pr-2 pl-2 ls3 btn-news cl-b3 fs-13 cur-def">13 jan 2020</div>
          </div>
          
          <div class="mb-3 mt-3 videotop-playlist">
            <div class="mb-3" >
              <div class="weight-mus">
                  <div class="mb-0">
                    <span class="fs-13 ls3">
                      <div class="text-center d-inline-block mt-1 pr-2 pl-2 ls3 fs-16 font-weight-bold">1.</div>
                    </span>
                    <span class="float-right fs-13 ls3">
                      <div class="text-center d-inline-block mt-1 pr-2 pl-2 ls3 black cl-b3 fs-13">Il ya 4 jours</div>
                    </span>
                  </div>
                <div class="position-relative d-inline-block">
                  <div class="position-absolute tp-lf0 h-100 w-100 hov-elm"></div>
                  <div class="content-vid weight-mus position-relative ovh" style="background-image: url('{{asset('front-end/img/enow2.jpg')}}')">
                    <div class="position-absolute couv tp-lf0 h-100 w-100"></div>
                    <div class="position-absolute tp-lf0 h-100 w-100 text-center">
                      <div class="position-relative time-play" style="top:50px">
                        <div class="text-center">
                          <a href="video.html" class="d-inline-block btn-in-img tt cur-pointer cl-n2 p-3 z-depth-1 mr-1"  data-toggle="tooltip" data-placement="top" title="Play"> <i class="fa fa-play "></i></a><a href="detsingle.html" class="d-inline-block btn-in-img tt cl-n2 p-3 ml-1 z-depth-1" data-toggle="tooltip" data-placement="top" title="Détails"> <i class="fa fa-ellipsis-h "></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-1 name-mus weight-mus"><span class="font-weight-bold name-art">Dafne </span>- <span class="">La magie du titre de la vidéo</span></div>  
                </div>
              </div>
            </div>
            <div class="mb-3" >
              <div class="weight-mus">
                  <div class="mb-0">
                    <span class="fs-13 ls3">
                      <div class="text-center d-inline-block mt-1 pr-2 pl-2 ls3 fs-16 font-weight-bold">2.</div>
                    </span>
                    <span class="float-right fs-13 ls3">
                      <div class="text-center d-inline-block mt-1 pr-2 pl-2 ls3 black cl-b3 fs-13">Il ya 4 jours</div>
                    </span>
                  </div>
                <div class="position-relative d-inline-block">
                  <div class="position-absolute tp-lf0 h-100 w-100 hov-elm"></div>
                  <div class="content-vid weight-mus position-relative ovh" style="background-image: url('{{asset('front-end/img/daf.jpg')}}')">
                    <div class="position-absolute couv tp-lf0 h-100 w-100"></div>
                    <div class="position-absolute tp-lf0 h-100 w-100 text-center">
                      <div class="position-relative time-play" style="top:50px">
                        <div class="text-center">
                          <a href="video.html" class="d-inline-block btn-in-img tt cur-pointer cl-n2 p-3 z-depth-1 mr-1"  data-toggle="tooltip" data-placement="top" title="Play"> <i class="fa fa-play "></i></a><a href="detsingle.html" class="d-inline-block btn-in-img tt cl-n2 p-3 ml-1 z-depth-1" data-toggle="tooltip" data-placement="top" title="Détails"> <i class="fa fa-ellipsis-h "></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-1 name-mus weight-mus"><span class="font-weight-bold name-art">Dafne </span>- <span class="">La magie du titre de la vidéo</span></div>  
                </div>
              </div>
            </div>
            <div class="mb-3" >
              <div class="weight-mus">
                  <div class="mb-0">
                    <span class="fs-13 ls3">
                      <div class="text-center d-inline-block mt-1 pr-2 pl-2 ls3 fs-16 font-weight-bold">1.</div>
                    </span>
                    <span class="float-right fs-13 ls3">
                      <div class="text-center d-inline-block mt-1 pr-2 pl-2 ls3 black cl-b3 fs-13">Il ya 4 jours</div>
                    </span>
                  </div>
                <div class="position-relative d-inline-block">
                  <div class="position-absolute tp-lf0 h-100 w-100 hov-elm"></div>
                  <div class="content-vid weight-mus position-relative ovh" style="background-image: url('{{asset('front-end/img/enow2.jpg')}}')">
                    <div class="position-absolute couv tp-lf0 h-100 w-100"></div>
                    <div class="position-absolute tp-lf0 h-100 w-100 text-center">
                      <div class="position-relative time-play" style="top:50px">
                        <div class="text-center">
                          <a href="video.html" class="d-inline-block btn-in-img tt cur-pointer cl-n2 p-3 z-depth-1 mr-1"  data-toggle="tooltip" data-placement="top" title="Play"> <i class="fa fa-play "></i></a><a href="detsingle.html" class="d-inline-block btn-in-img tt cl-n2 p-3 ml-1 z-depth-1" data-toggle="tooltip" data-placement="top" title="Détails"> <i class="fa fa-ellipsis-h "></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-1 name-mus weight-mus"><span class="font-weight-bold name-art">Dafne </span>- <span class="">La magie du titre de la vidéo</span></div>  
                </div>
              </div>
            </div>
          </div>



          <div class="text-center mb-2 mt-5">
              <a href="#" class="btn btn-purple btn-sm btn-rounded font-weight-bold ls3">Plus de top kmr <i class="fa fa-plus-circle"></i></a>
            </div>
        </div>
<div class="white p-3 toile-content mb-2">
            <div class="h5-responsive font-weight-bold mt-3 mb-1 text-center text-md-left">
              De la music comme si il en pleuvait.
            </div>
            <div class="mb-3 text-center text-md-left">
              retrouvez et jouer les music tous vos artiste préférer sur
            </div>
            <div class="text-center mb-2">
              <a href="kossa-play.html" class="btn btn-danger btn-sm btn-rounded font-weight-bold ls3">Kossa play</a>
            </div>
            
          </div>
          <div class="white p-3 toile-content mb-2">
              <div class="h5-responsive font-weight-bold mt-3 mb-1 text-center text-md-left">
                Au coeur de la culture.
              </div>
              <div class="mb-3 text-center text-md-left">
                Restez au contact de tous les évenements culturels à venir sur
              </div>
              <div class="text-center mb-2">
                <a href="kossa-event.html" class="btn btn-success btn-sm btn-rounded font-weight-bold ls3">Kossa Event</a>
              </div>
              
            </div>
      </div>

    </div>
</div>
<div class="cont-all-plst">
</div>

<div class="z-depth-3 position-fixed white animated lecteur-video lecteur-out w-100">
    <div class="float-left lecteur-g h-100 position-relative lecteur-img ovh" style="background-image: url('{{asset('front-end/img/enow4.jpg')}}')">
      <div class="white position-absolute lecteur-g lecteur-couv h-100 rounded-pill" style="z-index: 301"></div>
    </div>
    <div class="video cl-b3 p-2" style="background-color:black;">
      video
    </div>
    <div class="d-inline-block lecteur-d h-100 pt-3 p-3">
      <div class="h5-responsive">#titre de la music</div>
      <div class="font-weight-bold cl-n2">stanlay enow</div>
      <div class="font-weight-bold fs-12 cl-r1">-02:20</div>
    </div>
    <div class="position-absolute cl-n2 pl-2 pr-2 roud-close pt-1 pb-1 bnt-close-v cur-pointer " style="top:0px; right:0px; z-index:303;">
      <i class="fa fa-plus rot-90 fs-12"></i>
    </div>
    <div class="position-absolute" style="bottom:0px; right:10px">
        <div class="d-inline-block lct-btn p-2 cur-pointer"  data-toggle="tooltip" data-placement="top" title="précédent"><i class="fa fa-arrow-left fs-12"></i></div>
      <div class="d-inline-block lct-btn p-2 cur-pointer" data-toggle="tooltip" data-placement="top" title="play"><i class="fa fa-play fs-12"></i></div>
      <div class="d-inline-block lct-btn p-2 cur-pointer" data-toggle="tooltip" data-placement="top" title="suivant"><i class="fa fa-arrow-right fs-12"></i></div>
      <div class="d-inline-block lct-btn  cur-pointer position-relative" data-toggle="tooltip" data-placement="top" title="ajouter à la playlist">
        <div class=" btn-plst p-2"> <i class="fa fa-plus fs-12"></i></div>
        <div class="position-absolute p-2 z-depth-1 white p-lst d-none cont-plst animated"  alb-sng="Le single" style="right:0px;bottom:50px">
            
          </div>
      </div>
      <a href="detsingle.html" class="d-inline-block lct-btn p-2 cur-pointer tt" data-toggle="tooltip" data-placement="top" title="détail"><i class="fa fa-ellipsis-h fs-12"></i></a>
    </div>
  </div>

  <div class="lecteur z-depth-3 position-fixed white p-3 animated lecteur-out">
    <div class="float-left lecteur-g h-100 position-relative lecteur-img ovh" style="background-image: url('{{asset('front-end/img/enow4.jpg')}}')">
      <div class="white position-absolute lecteur-g lecteur-couv h-100 rounded-pill" style="z-index: 301"></div>
    </div>
    <div class="d-inline-block lecteur-d h-100 pt-3">
      <div class="h5-responsive">#titre de la music</div>
      <div class="font-weight-bold cl-n2">stanlay enow</div>
      <div class="font-weight-bold fs-12 cl-r1">-02:20</div>
    </div>
    <div class="position-absolute cl-n2 pl-2 pr-2 roud-close pt-1 pb-1  bnt-close cur-pointer " style="top:0px; right:0px">
      <i class="fa fa-plus rot-90 fs-12"></i>
    </div>
    <div class="position-absolute" style="bottom:0px; right:10px">
        <div class="d-inline-block lct-btn p-2 cur-pointer"  data-toggle="tooltip" data-placement="top" title="précédent"><i class="fa fa-arrow-left fs-12"></i></div>
      <div class="d-inline-block lct-btn p-2 cur-pointer" data-toggle="tooltip" data-placement="top" title="play"><i class="fa fa-play fs-12"></i></div>
      <div class="d-inline-block lct-btn p-2 cur-pointer" data-toggle="tooltip" data-placement="top" title="suivant"><i class="fa fa-arrow-right fs-12"></i></div>
      <div class="d-inline-block lct-btn  cur-pointer position-relative" data-toggle="tooltip" data-placement="top" title="ajouter à la playlist">
        <div class=" btn-plst p-2"> <i class="fa fa-plus fs-12"></i></div>
        <div class="position-absolute p-2 z-depth-1 white p-lst d-none cont-plst animated"  alb-sng="Le single" style="right:0px;bottom:50px">
            
          </div>
      </div>
      <a href="detsingle.html" class="d-inline-block lct-btn p-2 cur-pointer tt" data-toggle="tooltip" data-placement="top" title="détail"><i class="fa fa-ellipsis-h fs-12"></i></a>
    </div>
  </div>

  <div id="laplaylist" class="d-none">
    <div class="mb-3 mt-1 fs-14 ls3 lst-nbr-plst cl-n1">
      <div class="elt-plst text-left pl-1 pt-2 pb-2 cur-pointer">Playlist-01</div>
      <div class="elt-plst text-left pl-1 pt-2 pb-2 cur-pointer">Playlist-02</div>
      <div class="elt-plst text-left pl-1 pt-2 pb-2 cur-pointer">Playlist-03</div>
    </div>
    <form action="">
      <input type="text" id="input-name" class="p-1" placeholder="Nouvelle playlist">
      <div class="mt-2">
        <button type="button" class="btn btn-purple btn-sm mr-0 ml-0 btn-block add-plst" > <i class="fa fa-plus mr-1"></i> ajouter <i class="fa fa-plus-circle"></i></button>
      </div>
    </form>
  </div>
      
      {% endblock %}  