<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Kossa - Music felling</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="{{asset('front-end/css/bootstrap.min.css')}}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{{asset('front-end/css/mdb.min.css')}}" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="{{asset('front-end/css/style.css')}}" rel="stylesheet">
  <link href="{{asset('front-end/css/style-news.css')}}" rel="stylesheet">
  <!-- Your fonts awesome (optional) -->
  <link href="{{asset('front-end/css/all.css')}}" rel="stylesheet">
  <link href="{{asset('front-end/css/slick.css')}}" rel="stylesheet">
  <link href="{{asset('front-end/css/slick-theme.css')}}" rel="stylesheet">
  <link href="{{asset('front-end/css/fontawesome.css')}}" rel="stylesheet">

</head>

<body>

<!-- StartCode-->
<div class="  bs-hd brd-bt-news">
  <div class="container ">
      <div class="row">
          <div class="col-md-2 col-4 mt-3 mt-md-2 text-left">
            <a href="index.html" class="">
              <span class="d-inline-block animated fadeInLeft ">
                <svg version="1.1" id="klogo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 1212.3 540" enable-background="new 0 0 1212.3 540" xml:space="preserve">
             <g id="logon">
               <g id="kossaNews">
                 <g>
                   <g>
                     <rect x="1002.1" y="77.4" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1002.1" y="143.3" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1002.1" y="209.2" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1002.1" y="275.1" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1002.1" y="341" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1026.6" y="77.4" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1051.1" y="77.4" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1075.7" y="77.4" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1100.2" y="77.4" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1124.7" y="77.4" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1149.2" y="77.4" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1173.7" y="77.4" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1197.2" y="77.4" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1026.6" y="143.3" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1051.1" y="143.3" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1075.7" y="143.3" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1100.2" y="143.3" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1026.6" y="209.2" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1051.1" y="209.2" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1075.7" y="209.2" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1100.2" y="209.2" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1124.7" y="209.2" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1149.2" y="209.2" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1026.6" y="275.1" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1051.1" y="275.1" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1026.6" y="341" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1051.1" y="341" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1075.7" y="341" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1100.2" y="341" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1125.2" y="341" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1150.3" y="341" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="1175.3" y="341" fill="#999999" width="15.1" height="53.4"/>
                   </g>
                   <g>
                     <rect x="195.1" y="77.5" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="195.1" y="143.4" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="195.1" y="209.3" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="195.1" y="275.2" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="195.1" y="341.1" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="170.6" y="77.5" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="146.1" y="77.5" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="121.6" y="77.5" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="97.1" y="77.5" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="72.6" y="77.5" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="48" y="77.5" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="23.5" y="77.5" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="0" y="77.5" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="170.6" y="143.4" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="146.1" y="143.4" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="121.6" y="143.4" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="97.1" y="143.4" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="170.6" y="209.3" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="146.1" y="209.3" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="121.6" y="209.3" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="97.1" y="209.3" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="72.6" y="209.3" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="48" y="209.3" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="170.6" y="275.2" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="146.1" y="275.2" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="170.6" y="341.1" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="146.1" y="341.1" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="121.6" y="341.1" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="97.1" y="341.1" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="72" y="341.1" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="47" y="341.1" fill="#999999" width="15.1" height="53.4"/>
                     <rect x="21.9" y="341.1" fill="#999999" width="15.1" height="53.4"/>
                   </g>
                   <g>
                     <path fill="#163668" d="M273.2,124.6H308v94.5h1.1l39.7-94.5h34.6l-44.3,101.4l49.2,114.8h-37.2L309.1,238H308v102.9h-34.8
                       V124.6z"/>
                     <path fill="#163668" d="M467.1,342.8c-3.7,0-7.6-0.3-11.9-0.8c-4.3-0.5-8.5-1.7-12.7-3.5c-4.2-1.8-8.3-4.3-12.1-7.5
                       c-3.9-3.2-7.3-7.5-10.3-12.9c-3-5.3-5.4-11.9-7.2-19.7c-1.8-7.8-2.7-17.1-2.7-27.9v-76.6c0-10.9,0.9-20.2,2.8-27.9
                       c1.8-7.7,4.3-14.2,7.3-19.5c3-5.3,6.5-9.5,10.4-12.6c3.9-3.1,8-5.5,12.2-7.2c4.2-1.6,8.5-2.7,12.7-3.2c4.2-0.5,8.1-0.8,11.7-0.8
                       c3.4,0,7.2,0.2,11.3,0.7c4.2,0.5,8.3,1.5,12.5,3c4.2,1.6,8.2,3.9,12.1,7c3.9,3.1,7.4,7.3,10.5,12.5c3,5.3,5.5,11.8,7.3,19.6
                       c1.8,7.8,2.8,17.2,2.8,28.3v76.6c0,10.7-0.9,19.9-2.8,27.7s-4.3,14.3-7.4,19.6c-3,5.4-6.6,9.7-10.5,12.9
                       c-4,3.3-8.1,5.8-12.2,7.6c-4.2,1.8-8.3,3-12.4,3.6C474.1,342.5,470.4,342.8,467.1,342.8z M467.1,318.1c3.4,0,6.4-0.5,8.9-1.6
                       c2.5-1.1,4.7-3,6.3-5.7c1.7-2.7,2.9-6.3,3.8-10.7c0.8-4.4,1.3-10,1.3-16.8v-98.4c0-6.9-0.4-12.7-1.3-17.3
                       c-0.9-4.6-2.1-8.4-3.8-11.2c-1.7-2.8-3.8-4.8-6.3-6c-2.5-1.2-5.5-1.8-8.9-1.8c-3.5,0-6.5,0.6-9.1,1.8c-2.6,1.2-4.7,3.2-6.4,6
                       c-1.7,2.8-3,6.6-3.8,11.2c-0.9,4.6-1.3,10.4-1.3,17.3v98.4c0,6.8,0.4,12.3,1.3,16.8c0.8,4.4,2.1,8,3.8,10.7
                       c1.7,2.7,3.8,4.6,6.4,5.7C460.5,317.6,463.6,318.1,467.1,318.1z"/>
                     <path fill="#163668" d="M555.8,297.1c0-4.6,0.3-8.9,0.9-12.9c0.6-3.9,1.5-8.2,2.6-12.7h27V282c0,5.8,0.4,11,1.1,15.4
                       c0.8,4.5,2,8.3,3.8,11.3c1.7,3.1,4.1,5.4,7,7c2.9,1.6,6.5,2.3,10.7,2.3c6.6,0,11.7-1.7,15.2-5.1s5.2-8.4,5.2-15
                       c0-3.4-0.2-6.5-0.7-9.3c-0.5-2.8-1.3-5.6-2.5-8.4c-1.2-2.8-2.8-5.7-4.9-8.8c-2.1-3.1-4.7-6.5-7.9-10.3l-36.2-40.6
                       c-6.4-7.8-11.4-15.6-14.9-23.5c-3.5-7.9-5.2-16.3-5.2-25.3c0-7.2,1.2-13.8,3.6-19.8c2.4-6,5.8-11.2,10.3-15.5
                       c4.5-4.3,10-7.7,16.6-10.1c6.6-2.4,14-3.6,22.3-3.6c10.1,0,18.5,1.4,25.3,4.1c6.8,2.7,12.1,6.2,16.2,10.6
                       c4,4.4,6.9,9.3,8.5,14.8c1.7,5.4,2.5,10.9,2.5,16.4c0,4.6-0.4,8.9-1.1,12.9c-0.8,3.9-1.6,8.3-2.6,13h-26.8v-10.3
                       c0-11.5-1.7-20.3-5.2-26.4c-3.5-6.1-9.2-9.2-17-9.2c-6.5,0-11.4,1.7-14.6,5.1c-3.2,3.4-4.8,8-4.8,13.7c0,3,0.2,5.8,0.7,8.2
                       c0.5,2.4,1.2,4.7,2.1,6.8c0.9,2.1,2.1,4.1,3.4,6c1.3,1.9,2.9,4,4.6,6.1l40.4,46.1c7.3,9,13,17.7,16.9,26
                       c3.9,8.3,5.9,17.1,5.9,26.4c0,7.7-1.3,14.6-3.8,20.8c-2.5,6.2-6.2,11.4-10.9,15.7c-4.7,4.3-10.5,7.6-17.2,9.9
                       c-6.7,2.3-14.3,3.5-22.7,3.5c-10.4,0-19-1.3-25.8-3.9c-6.8-2.6-12.3-6.1-16.4-10.4c-4.1-4.3-6.9-9.2-8.6-14.7
                       C556.6,308.5,555.8,302.9,555.8,297.1z"/>
                     <path fill="#163668" d="M692.4,297.1c0-4.6,0.3-8.9,0.9-12.9c0.6-3.9,1.5-8.2,2.6-12.7h27V282c0,5.8,0.4,11,1.1,15.4
                       c0.8,4.5,2,8.3,3.8,11.3c1.7,3.1,4.1,5.4,7,7c2.9,1.6,6.5,2.3,10.7,2.3c6.6,0,11.7-1.7,15.2-5.1s5.2-8.4,5.2-15
                       c0-3.4-0.2-6.5-0.7-9.3c-0.5-2.8-1.3-5.6-2.5-8.4c-1.2-2.8-2.8-5.7-4.9-8.8c-2.1-3.1-4.7-6.5-7.9-10.3l-36.2-40.6
                       c-6.4-7.8-11.4-15.6-14.9-23.5c-3.5-7.9-5.2-16.3-5.2-25.3c0-7.2,1.2-13.8,3.6-19.8c2.4-6,5.8-11.2,10.3-15.5
                       c4.5-4.3,10-7.7,16.6-10.1c6.6-2.4,14-3.6,22.3-3.6c10.1,0,18.5,1.4,25.3,4.1c6.8,2.7,12.1,6.2,16.2,10.6
                       c4,4.4,6.9,9.3,8.5,14.8c1.7,5.4,2.5,10.9,2.5,16.4c0,4.6-0.4,8.9-1.1,12.9c-0.8,3.9-1.6,8.3-2.6,13h-26.8v-10.3
                       c0-11.5-1.7-20.3-5.2-26.4c-3.5-6.1-9.2-9.2-17-9.2c-6.5,0-11.4,1.7-14.6,5.1c-3.2,3.4-4.8,8-4.8,13.7c0,3,0.2,5.8,0.7,8.2
                       c0.5,2.4,1.2,4.7,2.1,6.8c0.9,2.1,2.1,4.1,3.4,6c1.3,1.9,2.9,4,4.6,6.1l40.4,46.1c7.3,9,13,17.7,16.9,26
                       c3.9,8.3,5.9,17.1,5.9,26.4c0,7.7-1.3,14.6-3.8,20.8c-2.5,6.2-6.2,11.4-10.9,15.7c-4.7,4.3-10.5,7.6-17.2,9.9
                       c-6.7,2.3-14.3,3.5-22.7,3.5c-10.4,0-19-1.3-25.8-3.9c-6.8-2.6-12.3-6.1-16.4-10.4c-4.1-4.3-6.9-9.2-8.6-14.7
                       C693.2,308.5,692.4,302.9,692.4,297.1z"/>
                     <path fill="#163668" d="M863,124.6h40l42.4,216.3h-35.2l-6.3-38.7H862l-6,38.7h-35.3L863,124.6z M899.9,277.5l-16.1-107.8h-1.5
                       l-16.2,107.8H899.9z"/>
                   </g>
                   <path fill="none" stroke="#B3B3B3" stroke-width="11.1854" stroke-miterlimit="10" d="M940.9,435.6H271.5
                     c-26.9,0-48.7-21.8-48.7-48.7V85.1c0-26.9,21.8-48.7,48.7-48.7h669.4c26.9,0,48.7,21.8,48.7,48.7v301.8
                     C989.6,413.8,967.8,435.6,940.9,435.6z"/>
                 </g>
                 
                   <line fill="none" stroke="#FFFFFF" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" x1="448.2" y1="4" x2="764.8" y2="4"/>
               </g>
               <rect id="rectNews" x="364.5" y="381.4" fill="#113768" width="499.1" height="158.6"/>
               <g>
                 <path fill="#FCFCFC" d="M487.8,410.2H499l22,57.8h0.3c-0.1-1.3-0.2-2.8-0.4-4.5c-0.2-1.7-0.3-3.5-0.5-5.6
                   c-0.1-2.1-0.3-4.5-0.4-7.2c-0.1-2.7-0.2-5.7-0.2-9v-31.5h12.3v86.4H521l-21.9-56.3h-0.4c0.1,1.5,0.2,3.2,0.4,4.9s0.3,3.9,0.5,6.2
                   c0.1,2.4,0.3,5.2,0.4,8.4c0.1,3.2,0.2,7,0.2,11.4v25.4h-12.2V410.2z"/>
                 <path fill="#FCFCFC" d="M575.5,497.3c-3.2,0-6-0.6-8.4-1.7c-2.4-1.1-4.5-2.8-6.1-5.2s-2.9-5.4-3.8-9.1s-1.3-8.1-1.3-13.3v-13.1
                   c0-4.4,0.3-8.2,1-11.4c0.7-3.2,1.6-5.8,2.7-7.9c1.1-2.1,2.4-3.8,3.9-5.1c1.5-1.2,3-2.2,4.6-2.9c1.6-0.7,3.1-1.1,4.7-1.3
                   c1.5-0.2,3-0.3,4.3-0.3c2.4,0,4.7,0.3,7,1c2.2,0.7,4.2,1.9,5.9,3.5c1.7,1.7,3.1,3.9,4.1,6.7c1,2.8,1.5,6.3,1.5,10.5
                   c0,1.4,0,2.8-0.1,4.3c-0.1,1.4-0.2,2.9-0.3,4.3c-0.1,1.4-0.3,2.8-0.6,4.1s-0.5,2.5-0.7,3.6h-24.3v7.1c0,3,0.1,5.6,0.4,7.7
                   c0.2,2.1,0.7,3.7,1.3,5c0.6,1.3,1.4,2.2,2.4,2.7c1,0.6,2.3,0.8,3.8,0.8c0.8,0,1.6-0.2,2.4-0.5c0.8-0.3,1.5-0.9,2-1.6
                   c0.6-0.7,1.1-1.7,1.4-3s0.5-2.8,0.5-4.6v-2.2h11.2v2.7c0,6.6-1.7,11.4-5,14.4C586.6,495.8,581.8,497.3,575.5,497.3z M583,455.6
                   c0-0.4,0.1-0.9,0.1-1.5c0-0.6,0.1-1.3,0.1-1.9c0-0.7,0-1.3,0-2s0-1.2,0-1.7c0-4.6-0.6-7.9-1.7-9.9c-1.1-2-2.8-3-5.1-3
                   c-1.2,0-2.2,0.3-3.1,0.8s-1.6,1.4-2.2,2.6c-0.6,1.2-1,2.9-1.3,4.9c-0.3,2-0.4,4.5-0.4,7.5v4.2H583z"/>
                 <path fill="#FCFCFC" d="M612.8,426.9h12.8l5.3,37.7l1.3,14.1h0.4l1.6-14.1l7-37.7h11.3l7.2,37.7l2,14.1h0.4l0.9-14.1l4.6-37.7
                   h12.6l-11.9,69.6H656l-7.6-38.7l-1.7-10.7h-0.4l-1.5,10.7l-6.9,38.7h-12.9L612.8,426.9z"/>
                 <path fill="#FCFCFC" d="M697.1,482c0-1.5,0.2-3,0.5-4.4c0.3-1.4,0.6-2.5,0.9-3.4h9.5c0,2.5,0.1,4.6,0.4,6.3
                   c0.3,1.7,0.7,3.1,1.3,4.1c0.6,1,1.4,1.7,2.4,2.2c1,0.4,2.2,0.7,3.7,0.7c2,0,3.5-0.5,4.4-1.6c0.9-1.1,1.4-2.3,1.4-3.7
                   c0-0.7-0.1-1.4-0.3-2.1c-0.2-0.7-0.5-1.4-0.9-2c-0.4-0.7-0.9-1.4-1.4-2.1c-0.6-0.7-1.2-1.5-1.9-2.3l-9.8-11
                   c-1.3-1.5-2.5-3.1-3.7-4.6c-1.2-1.6-2.2-3.2-3.1-4.9c-0.9-1.7-1.6-3.4-2.2-5.2s-0.8-3.7-0.8-5.8c0-2.7,0.5-5,1.5-7
                   c1-2,2.3-3.6,3.9-5c1.7-1.3,3.6-2.3,5.7-2.9c2.2-0.6,4.5-1,6.9-1c2.7,0,5.1,0.3,7.2,0.9c2.1,0.6,4,1.5,5.5,2.7
                   c1.5,1.2,2.7,2.7,3.5,4.5s1.2,3.9,1.2,6.3c0,1.6-0.2,3.2-0.5,4.7c-0.3,1.5-0.6,2.8-0.9,3.9H722c0-2.3-0.1-4.3-0.3-6
                   c-0.2-1.7-0.5-3.1-1-4.3c-0.5-1.1-1.1-2-2-2.6c-0.8-0.6-1.9-0.9-3.3-0.9c-1.2,0-2.1,0.2-2.9,0.5c-0.8,0.4-1.4,0.8-1.9,1.4
                   c-0.5,0.6-0.8,1.2-1,1.9c-0.2,0.7-0.3,1.4-0.3,2.2c0,1.6,0.4,3.1,1.2,4.5c0.8,1.4,1.9,2.9,3.2,4.5l10.8,12c0.8,0.9,1.7,2,2.7,3.3
                   c1,1.3,2,2.7,2.9,4.3c0.9,1.6,1.7,3.3,2.3,5.1s1,3.8,1,5.8c0,2.5-0.4,4.7-1.2,6.7s-2,3.7-3.6,5.1c-1.6,1.4-3.6,2.5-5.9,3.3
                   s-5,1.2-8,1.2c-2.4,0-4.8-0.3-6.9-0.8c-2.2-0.5-4-1.4-5.6-2.6c-1.6-1.2-2.9-2.8-3.8-4.7C697.5,487.3,697.1,484.9,697.1,482z"/>
               </g>
             </g>
                </svg>
            </span>
          </a>
          </div>
          <div class="col-md-10 col-6 mt-3 mt-sm-3 mt-md-0 d-flex justify-content-center justify-md-content-end align-items-center">
            <form class="t1-form form-search js-search-form position-relative mb-3 mb-md-0" action="search" id="global-search">
              <input class="search-input news-search" type="text" id="search-query" placeholder="Recherchez sur kosssa" name="recherche" >
              <span class="search-icon">
                  <a class="d-inline-block position-absolute" style="bottom:5px; right: 9px" >
                      <i class="fas fa-search" aria-hidden="true"></i>
                  </a>
              </span>
            </form>
            <div class="text-center context-menu-top h-100 menu-hide-mob">
                <a href="{{path('coming_soon', {'page':'play'})}}" class=" p-2 pl-3 pr-3 font-weight-bold ls3 btn btn-outline-grey kplay  btn-sm d-none d-sm-inline-block ">Kossa Play </a>
                <a href="{{path('coming_soon', {'page':'event'})}}" class=" p-2 pl-3 pr-3 font-weight-bold ls3  btn btn-outline-grey kevent  btn-sm d-none d-sm-inline">Kosso Event </a>
                <a href="{{path('coming_soon', {'page':'moovie'})}}" class=" p-2 pl-3 pr-3 font-weight-bold ls3  btn btn-outline-grey kmovie  btn-sm d-none d-sm-inline">Kosso Movies </a>
                <!-- <span class="d-inline-block"> <a href="#" class="btn btn-lng font-weight-bold p-1">Fr</a>
                <span>|</span>
                <a href="#" class="btn btn-lng p-1 ">En</a></span> --><a href="#" class="p-2  font-weight-bold ls3 text-capitalize position-relative  d-none d-lg-inline-block btn-lng h-100 men-top-elm a-menu">
                  <div class="d-flex h-100 justify-content-center align-items-center">FR/EN</div>
                  <div class="position-absolute d-none bg-news p-0 text-left lst-elm-lng z-depth-2 animated pt-3 pb-3 " style="top:0px; left:0px">
                      <div class="p-1 pl-3 pr-3 font-weight-bold fs-12 text-capitalize ls3 elm-lng elm-lng-news cl-b3">Francais</div>
                      <div class="p-1 pl-3 pr-3 font-weight-bold fs-12 text-capitalize ls3 elm-lng elm-lng-news cl-b3">Anglais</div>
                  </div>
                </a>
                
            </div>
          </div>
          <div class="col-2 text-right menu-hide-lag">
            <div class="p-2 nohv h-100 d-inline-block men-ts a-menu position-relative btn-men cur-pointer">
              <div class="d-flex h-100 justify-content-center align-items-center"><i class="fas fa-bars fa-lg "></i></div>
              <div class="position-absolute d-none bg-news p-0 text-left lst-elm-men z-depth-2 animated pt-3 pb-3" style="top:100%x;right:0px;width: 120px !important;">
                  <a href="" class="p-1 pl-3 pr-3 font-weight-bold fs-12 ls3 elm-lng elm-lng-news cl-b3 d-block">Kossa Play</a>
                  <a href="soon.html" class="p-1 pl-3 pr-3 font-weight-bold fs-12 ls3 elm-lng elm-lng-news cl-b3 d-block">Kossa Event</a>
                  <a href="soon.html" class="p-1 pl-3 pr-3 font-weight-bold fs-12 ls3 elm-lng elm-lng-news cl-b3 d-block">Kossa Movies</a>
                  <div class="mt-1 mb-1" style="border: 1px solid #024b8f;"></div>
                  <a href="kossa-news.html" class="p-1 pl-3 pr-3 font-weight-bold fs-12 ls3 elm-lng elm-lng-news cl-b3 d-block">Acceuil</a>
                  <a href="actualite.html" class="p-1 pl-3 pr-3 font-weight-bold fs-12 ls3 elm-lng elm-lng-news cl-b3 d-block">Actualité</a>
                  <a href="genre.html" class="p-1 pl-3 pr-3 font-weight-bold fs-12 ls3 elm-lng elm-lng-news cl-b3 d-block">Genre</a>
                  <a href="new-song.html" class="p-1 pl-3 pr-3 font-weight-bold fs-12 ls3 elm-lng elm-lng-news cl-b3 d-block">News Songs</a>
                  <a href="new-video.html" class="p-1 pl-3 pr-3 font-weight-bold fs-12 ls3 elm-lng elm-lng-news cl-b3 d-block">News vidéos</a>
                  <a href="top-audio.html" class="p-1 pl-3 pr-3 font-weight-bold fs-12 ls3 elm-lng elm-lng-news cl-b3 d-block">Top 10 KMR Audio</a>
                  <a href="top-video.html" class="p-1 pl-3 pr-3 font-weight-bold fs-12 ls3 elm-lng elm-lng-news cl-b3 d-block">Top 10 KMR vidéo</a>
                  <a href="playlist.html" class="p-1 pl-3 pr-3 font-weight-bold fs-12 ls3 elm-lng elm-lng-news cl-b3 d-block">Ma playlist</a>
                  <div class="mt-1 mb-1" style="border: 1px solid #024b8f;"></div>
                  <a href="" class="p-1 pl-3 pr-3 font-weight-bold fs-12 text-capitalize ls3 elm-lng elm-lng-news cl-b3 d-block">FR/EN</a>
              </div>
            </div>
          </div>
          
        </div>
  </div>
  </div>
<div class="cl-b3 one brd-bt-news pt-5 mb-3" style="background-image: url('{{asset('front-end/img/Blocko.jpg')}}')">
<div class="position-relative">
  <div class="container">
    <div class="row ">
      <div class="col-12 intro-size mt-5 ml-3 mr-3">
        <div class="font-weight-bold intro-presentation ">ça ce passe ici et null part alleur! </div>
      </div>
      <div class="col-12 pt-4 animated flipInX c05s animated.slower ml-3 mr-3">
        <div class="h3-responsive intro-presentation font-weight-light">Tenez vous informer des actualités sur le showbiz camerounais <br>partous dans le monde. </div>
      </div>
      <div class="col-12 mt-3">
        <a href="#" class="btn btn-outline-white mt-3 pl-5 pr-5 font-weight-bold hv-wh-50 lecteur-play-video">En savoir plus <i class="fa fa-plus-circle"></i></a>
      </div>
    </div>
    <div class="row text-right mt-5 mb-4 " >
      <div class="col-12 text-right mb-3 font-weight-bold fs-13 ">Partagez cette page sur</div>
        <div class="col-12 text-right animated fadeInDown c05s mb-4">
          <!--facebook-->
          <a  href="" class="btn-social fb-ic mr-3" role="button"><i class="fab fa-lg fa-facebook-f"></i></a>
          <!--twitter-->
          <a href="" class="btn-social tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
          <!--google-->
          <a href="" class="btn-social gplus-ic mr-3" role="button"><i class="fab fa-lg fa-google-plus-g"></i></a>
          <!--Linkedin-->
          <a href="" class="btn-social li-ic mr-3" role="button"><i class="fab fa-lg fa-linkedin-in"></i></a>
          <!--messanger-->
          <a href="" class="btn-social li-ic mr-3" role="button"><i class="fab fa-lg  fa-facebook-messenger"></i></a>
          <!--Instagram-->
          <a href="" class="btn-social ins-ic mr-3" role="button"><i class="fab fa-lg fa-instagram"></i></a>
          <!--Email-->
          <a href="" class="btn-social email-ic" role="button"><i class="far fa-lg fa-envelope"></i></a>
        </div>
    </div>
  </div>
</div>
</div>
 {% block body %}
       {% endblock %}
<section class="mt-5 brd-tp-news">
  <footer class="couv-fx position-relative" style="background-image: url('{{asset('front-end/img/pattern.jpg')}}')">
    <div class="h-100 position-absolute couv-foot w-100"></div>
    <div class="container pt-5">
        <div class="row mt-4 ls3">
          <div class="col-md-3 col-sm-6  mb-3  context-menu">
            <div class="foot-titre mb-3 font-weight-bold">
              Nos plateformes
            </div>
            <ul class="menbas text-left pl-0">
              <li class=""> <a href="index.html">Kossa</a> </li>
              <li class=""> <a href="soon.html">Kossa news</a> </li>
              <li class=""> <a href="">kossa play</a> </li>
              <li class=""> <a href="soon.html">Kossa event</a> </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 mb-3  context-menu">
            <div class="foot-titre mb-3 verte font-weight-bold">
              Service
            </div>
            <ul class="menbas text-left pl-0">
              <li class=""> <a href="#">S'inscrire</a> </li>
              <li class=""> <a href="#">Se connecter</a> </li>
              <li class=""> <a href="#">Aide</a> </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 mb-3  context-menu">
            <div class="foot-titre mb-3  font-weight-bold">
              A propos
            </div>
            <ul class="menbas text-left pl-0 fs-13">
              <li class=""> <a href="#">Qui sommes-nous</a> </li>
              <li class=""> <a href="#">Recrutement</a> </li>
              <li class=""> <a href="#">Témoignage</a> </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 mb-3">
            <div class="foot-titre mb-4 font-weight-bold">
              Rejoignez nous
            </div>
            <div>
                <div class=" mb-4">
                  <!--facebook-->
                  <a  href="" class="btn-social fb-ic mr-3" role="button"><i class="fab fa-lg fa-facebook-f"></i></a>
                  <!--twitter-->
                  <a href="" class="btn-social tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                  <!--google-->
                  <a href="" class="btn-social gplus-ic mr-3" role="button"><i class="fab fa-lg fa-google-plus-g"></i></a>
                  <!--Linkedin-->
                  <a href="" class="btn-social li-ic mr-3" role="button"><i class="fab fa-lg fa-linkedin-in"></i></a>
                  <!--messanger-->
                  <a href="" class="btn-social li-ic mr-3" role="button"><i class="fab fa-lg  fa-facebook-messenger"></i></a>
                  <!--Instagram-->
                  <a href="" class="btn-social ins-ic mr-3" role="button"><i class="fab fa-lg fa-instagram"></i></a>
                  <!--Email-->
                  <a href="" class="btn-social email-ic" role="button"><i class="far fa-lg fa-envelope"></i></a>
                </div>
            </div>

            <div class="foot-titre mb-1 font-weight-bold">
                News letter
              </div>
              <form class="t1-form form-search js-search-form position-relative" action="/search" id="global-search">
                <input class="search-input news-search" type="text" id="search-query" placeholder="Votre adresse email" name="mail" >
                <span class="search-icon">
                    <a class="d-inline-block position-absolute" style="bottom:5px; right: 9px" >
                        <i class="fas fa-envelope" aria-hidden="true"></i>
                    </a>
                </span>
          </div>
        </div>
        <div class="text-center sep2 w-100 mb-4"></div>
        <div class="row bl2 pb-4">
          <div class="col-md-12 mt-2 mb-2 text-center cl-b3">
            <span class="font-weight-bold"> Kossa </span> © 2019. &nbsp;Tout droit reservé</div>	
          </div>
        </div>
      </div>
  </footer>
</section>
<!-- /EndCode-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="{{asset('front-end/js/jquery-3.3.1.min.js')}}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{asset('front-end/js/popper.min.js')}}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{asset('front-end/js/bootstrap.min.js')}}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{asset('front-end/js/mdb.js')}}"></script>
  <!-- Font awesome JavaScript -->
  <script type="text/javascript" src="{{asset('front-end/js/all.js')}}"></script>
  <script type="text/javascript" src="{{asset('front-end/js/anima.js')}}"></script>
  <script type="text/javascript" src="{{asset('front-end/js/slick.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('front-end/js/fontawesome.js')}}"></script>
  <script type="text/javascript" src="{{asset('front-end/js/custom.js')}}"></script>

  <script>
    $(function(){
      // $('.btn-cate').removeClass('waves-effect');
      // $('.btn-cate').click(function(e){ 
      //   e.stopPropagation(); 
      //   $('.lst-elm-lng').addClass('d-none').removeClass('bounceInDown2');
      //   $(this).toggleClass('ovv ');
      //   $('.lst-elm-cate').toggleClass('d-none bounceInDown2');
      // });
      // $('.elm-cate').click(function(){  
      //   $('.chx-cate').text($(this).text());
      // });

      // $('.btn-lng').click(function(e){ 
      //   e.stopPropagation(); 
      //   $('.lst-elm-cate').addClass('d-none ').removeClass('bounceInDown2'); 
      //   $(this).toggleClass('ovv');
      //   $('.lst-elm-lng').toggleClass('d-none bounceInDown2');
      // });
      // $('.elm-lng').click(function(){  
      //   $('.chx-lng').text($(this).text());
      // });
      // $('body').click(function(){
      //   $('.lst-elm-cate').addClass('d-none ').removeClass('bounceInDown2');
      //   $('.lst-elm-lng').addClass('d-none ').removeClass('bounceInDown2');
      // });

    });
  </script>
  
  
  
</body>

</html>
