{{ form_start(form) }}
<div class="panel-body">
  
 
    {{ form_widget(form) }}
    <br>
     {%if news_actualite.photo1!=null%}
                        <div class="row">
                                <span>Image1</span>
                               <img src="{{asset('images/actualites/')}}{{news_actualite.photo1}}" style="width:100px;height: 80px" class="img" alt="Aucune image">
                        <a class="btn btn-danger" title="supprimer" href="{{ path('actualite_Photo1', { 'id': news_actualite.id }) }}"><i class="fa fa-close"></i></a>
                                               
                        </div>
                        {% endif%}
                        {%if news_actualite.photo2!=null%}
                         <br>
                        <div class="row">
                                <span>Image2</span>
                               <img src="{{asset('images/actualites/')}}{{news_actualite.photo2}}" style="width:100px;height: 80px" class="img" alt="Aucune image">
                        <a class="btn btn-danger" title="supprimer" href="{{ path('actualite_Photo2', { 'id': news_actualite.id }) }}"><i class="fa fa-close"></i></a>
                                               
                        </div>
                        {% endif%}
 <br>
             <div class=" text-center">
                    <button class="btn btn-info">{{ button_label|default('Enregistrer')}}</button>
             </div>
{{ form_end(form) }}