{% extends 'template.html.twig' %}
{% block title %}
 Actualité | Liste 
 {% endblock %}

{% block hearder %}
<div class="pageheader">
    <h3>
        <i class="fa fa-home"></i>Accueil
    </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">vous êtes ici:</span>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    Accueil
                </a>
            </li>
            <li class="active">
                Liste des actualité
            </li>
        </ol>
    </div>
</div>
{% endblock %}

{% block body %}
    <a class="btn btn-info "  href="{{ path('news_actualite_new') }}"><i class="fa fa-user-plus" ></i> Ajouter une actualité</a> 
    <br><br>
            
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Liste des actualités</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered" id="studentTable">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Contenu1</th>
                <th>Photo1</th>
                <th>Contenu2</th>
                <th>Photo2</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news_actualite in news_actualites %}
            <tr>
                <td>{{ news_actualite.titre }}</td>
                <td>{{ news_actualite.description }}</td>
                <td>{{ news_actualite.contenu1 | raw }}</td>
                <td><img src="{{asset('/images/actualites/')}}{{ news_actualite.photo1 }}"
                                    alt="{{ news_actualite.photo1 }}"
                                    width="50"
                                    height="50"
                 </td>
                <td>{{ news_actualite.contenu2 | raw }}</td>
                <td><img src="{{asset('/images/actualites/')}}{{ news_actualite.photo2 }}"
                                    alt="{{ news_actualite.photo2 }}"
                                    width="50"
                                    height="50"
                 </td>
               <td>
                        <a class="btn btn-success" title="éditer" href="{{ path('news_actualite_edit', { 'id': news_actualite.id }) }}"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#modal-default{{ news_actualite.id }}" title="Supprimer" ><i class="glyphicon glyphicon-trash" ></i></a>
                         <a class="btn btn-info " title="Détails"  href="{{ path('news_actualite_show', { 'id': news_actualite.id }) }}"><i class="fa fa-info-circle" ></i></a> 
                </td>
            </tr>
            
            <div class="modal fade" id="modal-default{{ news_actualite.id }}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Suppression des actualités</h4>
                        </div>
                        <div class="modal-body">
                            <h4>Voulez-vous vraiment supprimer cette actualité ?</h4>
                        </div>
                        <div class="modal-footer">
                                <a class="btn btn-default pull-left" aria-hidden="true" data-dismiss="modal">Annuler</a>
                                <a class="btn btn-danger " title="Supprimer"  href="{{ path('news_actualite_delete', { 'id': news_actualite.id }) }}">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('news_actualite_new') }}">Create new</a>
{% endblock %}
