{% extends 'template.html.twig' %}

{% block title %}Actualité | Détails{% endblock %}

{% block body %}
    <h2>Détails d'une actualite</h2>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ news_actualite.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ news_actualite.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ news_actualite.description }}</td>
            </tr>
            <tr>
                <th>Contenu1</th>
                <td>{{ news_actualite.contenu1 }}</td>
            </tr>
            <tr>
                <th>Photo1</th>
                <td>{{ news_actualite.photo1 }}</td>
            </tr>
            <tr>
                <th>Contenu2</th>
                <td>{{ news_actualite.contenu2 }}</td>
            </tr>
            <tr>
                <th>Photo2</th>
                <td>{{ news_actualite.photo2 }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ news_actualite.etat ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>DateDePublication</th>
                <td>{{ news_actualite.dateDePublication ? news_actualite.dateDePublication|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateEnreg</th>
                <td>{{ news_actualite.dateEnreg ? news_actualite.dateEnreg|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Vue</th>
                <td>{{ news_actualite.vue }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
