<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Cooming soon</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="{{asset('front-end/css/bootstrap.min.css')}}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{{asset('front-end/css/mdb.min.css')}}" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="{{asset('front-end/css/style.css')}}" rel="stylesheet">
  <!-- Your fonts awesome (optional) -->
  <link href="{{asset('front-end/css/all.css')}}" rel="stylesheet">
  <link href="{{asset('front-end/css/fontawesome.css')}}" rel="stylesheet">

  <style>
    .kplatform{
        width: 200px;
        margin: auto;
    }
  </style>
</head>

<body>

<!-- StartCode-->
<div class="cl-b3 one " style="background-image:  url('{{asset('front-end/img/artiste5.jpg')}}')">
<div class="position-relative min-vh-100">
  <div class="two position-absolute h-100 w-100" style="background-image: url('{{asset('front-end/img/micke2.jpeg')}}')"></div>
  <div class="tree position-absolute h-100 w-100"></div>
  <div class="container p-2">
    <div class="row">
      <div class="col-md-12 mt-5 text-center">
        <a href="{{path('accueil')}}" class="">
          <span class="d-inline-block animated fadeInLeft ">
              <svg version="1.1" id="klogo" x="0px" y="0px"
              viewBox="0 0 1212.3 473" enable-background="new 0 0 1212.3 473" xml:space="preserve">
          <g id="logo">
            <g>
              <g>
                <rect x="1002.1" y="77.3" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1002.1" y="143.2" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1002.1" y="209.1" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1002.1" y="275" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1002.1" y="340.9" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1026.6" y="77.3" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1051.1" y="77.3" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1075.7" y="77.3" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1100.2" y="77.3" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1124.7" y="77.3" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1149.2" y="77.3" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1173.7" y="77.3" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1197.2" y="77.3" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1026.6" y="143.2" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1051.1" y="143.2" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1075.7" y="143.2" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1100.2" y="143.2" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1026.6" y="209.1" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1051.1" y="209.1" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1075.7" y="209.1" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1100.2" y="209.1" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1124.7" y="209.1" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1149.2" y="209.1" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1026.6" y="275" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1051.1" y="275" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1026.6" y="340.9" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1051.1" y="340.9" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1075.7" y="340.9" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1100.2" y="340.9" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1125.2" y="340.9" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1150.3" y="340.9" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="1175.3" y="340.9" fill="#FFFFFF" width="15.1" height="53.4"/>
              </g>
              <g>
                <rect x="195.1" y="77.4" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="195.1" y="143.3" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="195.1" y="209.2" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="195.1" y="275.1" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="195.1" y="341" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="170.6" y="77.4" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="146.1" y="77.4" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="121.6" y="77.4" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="97.1" y="77.4" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="72.6" y="77.4" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="48" y="77.4" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="23.5" y="77.4" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="0" y="77.4" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="170.6" y="143.3" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="146.1" y="143.3" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="121.6" y="143.3" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="97.1" y="143.3" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="170.6" y="209.2" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="146.1" y="209.2" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="121.6" y="209.2" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="97.1" y="209.2" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="72.6" y="209.2" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="48" y="209.2" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="170.6" y="275.1" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="146.1" y="275.1" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="170.6" y="341" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="146.1" y="341" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="121.6" y="341" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="97.1" y="341" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="72" y="341" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="47" y="341" fill="#FFFFFF" width="15.1" height="53.4"/>
                <rect x="21.9" y="341" fill="#FFFFFF" width="15.1" height="53.4"/>
              </g>
              <g>
                <path fill="#FFFFFF" d="M273.2,124.5H308V219h1.1l39.7-94.5h34.6L339.1,226l49.2,114.9h-37.2l-42.1-102.9H308v102.9h-34.8V124.5z
                  "/>
                <path fill="#FFFFFF" d="M467.1,342.7c-3.7,0-7.6-0.3-11.9-0.8c-4.3-0.5-8.5-1.7-12.7-3.5c-4.2-1.8-8.3-4.3-12.1-7.5
                  c-3.9-3.2-7.3-7.5-10.3-12.9c-3-5.3-5.4-11.9-7.2-19.7c-1.8-7.8-2.7-17.1-2.7-27.9v-76.6c0-10.9,0.9-20.2,2.8-27.9
                  c1.8-7.7,4.3-14.2,7.3-19.5c3-5.3,6.5-9.5,10.4-12.6c3.9-3.1,8-5.5,12.2-7.2c4.2-1.6,8.5-2.7,12.7-3.2c4.2-0.5,8.1-0.8,11.7-0.8
                  c3.4,0,7.2,0.2,11.3,0.7c4.2,0.5,8.3,1.5,12.5,3c4.2,1.6,8.2,3.9,12.1,7c3.9,3.1,7.4,7.3,10.5,12.5c3,5.3,5.5,11.8,7.3,19.6
                  c1.8,7.8,2.8,17.2,2.8,28.3v76.6c0,10.7-0.9,19.9-2.8,27.7c-1.9,7.7-4.3,14.3-7.4,19.6c-3,5.4-6.6,9.7-10.5,12.9
                  c-4,3.3-8.1,5.8-12.2,7.6c-4.2,1.8-8.3,3-12.4,3.6C474.1,342.4,470.4,342.7,467.1,342.7z M467.1,318c3.4,0,6.4-0.5,8.9-1.6
                  c2.5-1.1,4.7-3,6.3-5.7c1.7-2.7,2.9-6.3,3.8-10.7c0.8-4.4,1.3-10,1.3-16.8v-98.4c0-6.9-0.4-12.7-1.3-17.3
                  c-0.9-4.6-2.1-8.4-3.8-11.2c-1.7-2.8-3.8-4.8-6.3-6c-2.5-1.2-5.5-1.8-8.9-1.8c-3.5,0-6.5,0.6-9.1,1.8c-2.6,1.2-4.7,3.2-6.4,6
                  c-1.7,2.8-3,6.6-3.8,11.2c-0.9,4.6-1.3,10.4-1.3,17.3v98.4c0,6.8,0.4,12.3,1.3,16.8c0.8,4.4,2.1,8,3.8,10.7
                  c1.7,2.7,3.8,4.6,6.4,5.7C460.5,317.5,463.6,318,467.1,318z"/>
                <path fill="#FFFFFF" d="M555.8,297c0-4.6,0.3-8.9,0.9-12.9c0.6-3.9,1.5-8.2,2.6-12.7h27v10.5c0,5.8,0.4,11,1.1,15.4
                  c0.8,4.5,2,8.3,3.8,11.3c1.7,3.1,4.1,5.4,7,7c2.9,1.6,6.5,2.3,10.7,2.3c6.6,0,11.7-1.7,15.2-5.1c3.5-3.4,5.2-8.4,5.2-15
                  c0-3.4-0.2-6.5-0.7-9.3c-0.5-2.8-1.3-5.6-2.5-8.4c-1.2-2.8-2.8-5.7-4.9-8.8c-2.1-3.1-4.7-6.5-7.9-10.3l-36.2-40.6
                  c-6.4-7.8-11.4-15.6-14.9-23.5c-3.5-7.9-5.2-16.3-5.2-25.3c0-7.2,1.2-13.8,3.6-19.8c2.4-6,5.8-11.2,10.3-15.5
                  c4.5-4.3,10-7.7,16.6-10.1c6.6-2.4,14-3.6,22.3-3.6c10.1,0,18.5,1.4,25.3,4.1c6.8,2.7,12.1,6.2,16.2,10.6c4,4.4,6.9,9.3,8.5,14.8
                  c1.7,5.4,2.5,10.9,2.5,16.4c0,4.6-0.4,8.9-1.1,12.9c-0.8,3.9-1.6,8.3-2.6,13h-26.8v-10.3c0-11.5-1.7-20.3-5.2-26.4
                  c-3.5-6.1-9.2-9.2-17-9.2c-6.5,0-11.4,1.7-14.6,5.1c-3.2,3.4-4.8,8-4.8,13.7c0,3,0.2,5.8,0.7,8.2c0.5,2.4,1.2,4.7,2.1,6.8
                  c0.9,2.1,2.1,4.1,3.4,6c1.3,1.9,2.9,4,4.6,6.1l40.4,46.1c7.3,9,13,17.7,16.9,26c3.9,8.3,5.9,17.1,5.9,26.4
                  c0,7.7-1.3,14.6-3.8,20.8c-2.5,6.2-6.2,11.4-10.9,15.7c-4.7,4.3-10.5,7.6-17.2,9.9c-6.7,2.3-14.3,3.5-22.7,3.5
                  c-10.4,0-19-1.3-25.8-3.9c-6.8-2.6-12.3-6.1-16.4-10.4c-4.1-4.3-6.9-9.2-8.6-14.7C556.6,308.4,555.8,302.8,555.8,297z"/>
                <path fill="#FFFFFF" d="M692.4,297c0-4.6,0.3-8.9,0.9-12.9c0.6-3.9,1.5-8.2,2.6-12.7h27v10.5c0,5.8,0.4,11,1.1,15.4
                  c0.8,4.5,2,8.3,3.8,11.3c1.7,3.1,4.1,5.4,7,7c2.9,1.6,6.5,2.3,10.7,2.3c6.6,0,11.7-1.7,15.2-5.1c3.5-3.4,5.2-8.4,5.2-15
                  c0-3.4-0.2-6.5-0.7-9.3c-0.5-2.8-1.3-5.6-2.5-8.4c-1.2-2.8-2.8-5.7-4.9-8.8c-2.1-3.1-4.7-6.5-7.9-10.3l-36.2-40.6
                  c-6.4-7.8-11.4-15.6-14.9-23.5c-3.5-7.9-5.2-16.3-5.2-25.3c0-7.2,1.2-13.8,3.6-19.8c2.4-6,5.8-11.2,10.3-15.5
                  c4.5-4.3,10-7.7,16.6-10.1c6.6-2.4,14-3.6,22.3-3.6c10.1,0,18.5,1.4,25.3,4.1c6.8,2.7,12.1,6.2,16.2,10.6c4,4.4,6.9,9.3,8.5,14.8
                  c1.7,5.4,2.5,10.9,2.5,16.4c0,4.6-0.4,8.9-1.1,12.9c-0.8,3.9-1.6,8.3-2.6,13h-26.8v-10.3c0-11.5-1.7-20.3-5.2-26.4
                  c-3.5-6.1-9.2-9.2-17-9.2c-6.5,0-11.4,1.7-14.6,5.1c-3.2,3.4-4.8,8-4.8,13.7c0,3,0.2,5.8,0.7,8.2c0.5,2.4,1.2,4.7,2.1,6.8
                  c0.9,2.1,2.1,4.1,3.4,6c1.3,1.9,2.9,4,4.6,6.1l40.4,46.1c7.3,9,13,17.7,16.9,26c3.9,8.3,5.9,17.1,5.9,26.4
                  c0,7.7-1.3,14.6-3.8,20.8c-2.5,6.2-6.2,11.4-10.9,15.7c-4.7,4.3-10.5,7.6-17.2,9.9c-6.7,2.3-14.3,3.5-22.7,3.5
                  c-10.4,0-19-1.3-25.8-3.9c-6.8-2.6-12.3-6.1-16.4-10.4c-4.1-4.3-6.9-9.2-8.6-14.7C693.2,308.4,692.4,302.8,692.4,297z"/>
                <path fill="#FFFFFF" d="M863,124.5h40l42.4,216.3h-35.2l-6.3-38.7H862l-6,38.7h-35.3L863,124.5z M899.9,277.4l-16.1-107.8h-1.5
                  l-16.2,107.8H899.9z"/>
              </g>
              <path fill="none" stroke="#FFFFFF" stroke-width="11.1854" stroke-miterlimit="10" d="M989.4,435.5H223c-0.1,0-0.2-0.1-0.2-0.2
                V36.5c0-0.1,0.1-0.2,0.2-0.2h766.4c0.1,0,0.2,0.1,0.2,0.2v398.8C989.6,435.4,989.5,435.5,989.4,435.5z"/>
            </g>
            
              <line fill="none" stroke="#FFFFFF" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" x1="447.9" y1="4" x2="764.5" y2="4"/>
            
              <line fill="none" stroke="#FFFFFF" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" x1="447.9" y1="469" x2="764.5" y2="469"/>
          </g>
          </svg>
        </a>
        </span>
      </div>
    </div>
    <div class="row mb-5" style="margin-top: 120px;">
      <div class=" col-4 ">
          <div class="kplatform mb-2">
          <a href=""  >
            <img src="{{asset('front-end/img/svg/klplay.svg')}}" alt="">  
          </div>
      </div>
      <div class="col-4 ">
          <div class="kplatform mb-2">
            <a href="" >
              <img src="{{asset('front-end/img/svg/klevent.svg')}}" alt=""> 
            </a>  
          </div>
      </div>
      <div class=" col-4">
          <div class="kplatform mb-2">
            <a href="">
              <img src="{{asset('front-end/img/svg/kmovies.svg')}}" alt=""> 
            </a>  
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pt-3">
        <h2 class="font-weight-bold text-white h1-responsive text-uppercase">ça ce passe ici et null part ailleur! </h2>
      </div>
      <div class="col-12 text-center pt-1 animated flipInX c05s animated.slower">
          <div class="h3-responsive">Diponible trés très bientôt . </div>
        </div>
      <div class="col-12 mt-5 h6-responsive mb-5 text-center font-weight-bold"><a href="index.html" class="btn cl-n2 bg-white d-inline-block p-2 pl-3 pr-3 font-weight-bold" >En savoir plus</a></div>

    </div>
    
    <div class="row mt-5">
      <div class="col-12 text-center mb-3 font-weight-bold fs-13">Partagez sur</div>
        <div class="col-12 text-center animated fadeInDown c05s context-menu pb-4">
          <!--facebook-->
          <a  href="" class="btn-social fb-ic mr-3" role="button"><i class="fab fa-lg fa-facebook-f"></i></a>
          <!--twitter-->
          <a href="" class="btn-social tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
          <!--google-->
          <a href="" class="btn-social gplus-ic mr-3" role="button"><i class="fab fa-lg fa-google-plus-g"></i></a>
          <!--Linkedin-->
          <a href="" class="btn-social li-ic mr-3" role="button"><i class="fab fa-lg fa-linkedin-in"></i></a>
          <!--messanger-->
          <a href="" class="btn-social li-ic mr-3" role="button"><i class="fab fa-lg  fa-facebook-messenger"></i></a>
          <!--Instagram-->
          <a href="" class="btn-social ins-ic mr-3" role="button"><i class="fab fa-lg fa-instagram"></i></a>
          <!--Comments-->
          <a href="" class="btn-social comm-ic mr-3" role="button"><i class="fas fa-lg fa-comments"></i></a>
          <!--Email-->
          <a href="" class="btn-social email-ic" role="button"><i class="far fa-lg fa-envelope"></i></a>
        </div>
    </div>
  </div>
</div>

</div>
<!-- /EndCode-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="{{asset('assets/js/jquery-3.3.1.min.js')}}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{asset('assets/js/popper.min.js')}}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{asset('assets/js/bootstrap.min.js')}}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{asset('assets/js/mdb.js')}}"></script>
  <!-- Font awesome JavaScript -->
  <script type="text/javascript" src="{{asset('assets/js/all.js')}}"></script>
  <script type="text/javascript" src="{{asset('assets/js/fontawesome.js')}}"></script>
  
  <script>
setTimeout('Redirect()', 10000);
function Redirect() 
{  
    window.location="{{ancienUrl}}"; 
} 
    </script>
    
</body>

</html>
