{{ form_start(form) }}
<div class="panel-body">
  
 
    {{ form_widget(form) }}
    <br>
     {%if play_album.cover1!=null%}
                        <div class="row">
                                <span>Image1; </span>
                               <img src="{{asset('images/albums/')}}{{play_album.cover1}}" style="width:100px;height: 80px" class="img" alt="Aucune image">
                        <a class="btn btn-danger" title="supprimer" href="{{ path('play_album_cover1', { 'id': play_album.id }) }}"><i class="fa fa-close"></i></a>
                                               
                        </div>
                          <br>
                        {% endif%}
        {%if play_album.cover2!=null%}
                        <div class="row">
                                <span>Image2</span>
                               <img src="{{asset('images/albums/')}}{{play_album.cover2}}" style="width:100px;height: 80px" class="img" alt="Aucune image">
                        <a class="btn btn-danger" title="supprimer" href="{{ path('play_album_cover2', { 'id': play_album.id }) }}"><i class="fa fa-close"></i></a>
                                               
                        </div>
                        {% endif%}                 
 <br>
             <div class=" text-center">
                    <button class="btn btn-info">{{ button_label|default('Enregistrer')}}</button>
             </div>
{{ form_end(form) }}