{% extends 'template.html.twig' %}
{% block title %}
 Album | Liste 
 {% endblock %}

{% block hearder %}
<div class="pageheader">
    <h3>
        <i class="fa fa-home"></i>Accueil
    </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">vous êtes ici:</span>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    Accueil
                </a>
            </li>
            <li class="active">
                Liste des albums
            </li>
        </ol>
    </div>
</div>
{% endblock %}

{% block body %}
    <a class="btn btn-info "  href="{{ path('play_album_new') }}"><i class="fa fa-user-plus" ></i> Ajouter un album</a> 
    <br><br>
            
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Liste des albums</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered" id="studentTable">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Cover1</th>
                <th>Cover2</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for play_album in play_albums %}
            <tr>
                <td>{{ play_album.titre }}</td>
                <td><img src="{{asset('/images/albums/')}}{{ play_album.cover1 }}"
                                    alt="{{ play_album.cover1 }}"
                                    width="50"
                                    height="50"
                 </td>
                <td><img src="{{asset('/images/albums/')}}{{ play_album.cover2 }}"
                                    alt="{{ play_album.cover2 }}"
                                    width="50"
                                    height="50"
                 </td>
                <td>
                        <a class="btn btn-success" title="éditer" href="{{ path('play_album_edit', { 'id': play_album.id }) }}"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#modal-default{{ play_album.id }}" title="Supprimer" ><i class="glyphicon glyphicon-trash" ></i></a>
                         <a class="btn btn-info " title="Détails"  href="{{ path('play_album_show', { 'id': play_album.id }) }}"><i class="fa fa-info-circle" ></i></a> 
                </td>
            </tr>
            
            <div class="modal fade" id="modal-default{{ play_album.id }}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Suppression des albums</h4>
                        </div>
                        <div class="modal-body">
                            <h4>Voulez-vous vraiment supprimer cet album ?</h4>
                        </div>
                        <div class="modal-footer">
                                <a class="btn btn-default pull-left" aria-hidden="true" data-dismiss="modal">Annuler</a>
                                <a class="btn btn-danger " title="Supprimer"  href="{{ path('play_album_delete', { 'id': play_album.id }) }}">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('play_album_new') }}">Create new</a>
{% endblock %}
