{% extends 'template.html.twig' %}

{% block title %}Album | Détails{% endblock %}

{% block body %}
    <h2>Détails d'un album</h2>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ play_album.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ play_album.titre }}</td>
            </tr>
            <tr>
                <th>Cover1</th>
                <td>{{ play_album.cover1 }}</td>
            </tr>
            <tr>
                <th>Cover2</th>
                <td>{{ play_album.cover2 }}</td>
            </tr>
            <tr>
                <th>DateEnreg</th>
                <td>{{ play_album.dateEnreg ? play_album.dateEnreg|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
