[class*="col-"], footer {
    /* border: 1px dashed #3E82F7; */
}
[class*="row"]{
    /* border: 1px dashed #ff4081; */
}

body{
    background-color: #f2f2f2;
    font-size: 14px;
    color: rgba(0,0,0,.71);
    line-height: 1.5em;
    font-weight: 400;
}

.mwa{
    max-width: 100px;
}
.ls3{
    letter-spacing: .3px;
}

.cl-title-news{
    color: #003668 !important;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    /* src: url(https://fonts.gstatic.com/s/materialicons/v42/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2'); */
    src: url(../font/material/material.woff2) format('woff2');
}
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
  }

/* taille texte */
.fs-8 { font-size: 8px !important ; }
.fs-10 { font-size: 10px !important ; }
.fs-11 { font-size: 11px !important ; }
.fs-12 { font-size: 12px !important ; }
.fs-13 { font-size: 13px !important ; }
.fs-14 { font-size: 14px !important ; }
.fs-16 { font-size: 16px !important ; }
.fs-18 { font-size: 18px !important ; }
.fs-20 { font-size: 20px !important ; }
.fs-24 { font-size: 24px !important ; }
.fs-32 { font-size: 32px !important ; }
.fs-36 { font-size: 36px !important ; }
.fs-48 { font-size: 48px !important ; }
.fs-64 { font-size: 64px !important ; }

/* black et white */
.cl-n2{
    color: #666 !important;
}
.cl-n1{
    color: rgba(0,0,0,.71);
}
.cl-b3{
    color: rgba(255, 255, 255, 0.85) !important;
}

/* couleur text */
.cl-iolet{
    color: #3e3557;
}
.cl-r0{
    color: #ffccb9 !important;
}
.cl-r1{
    color: #C2185B !important;
}
.cl-r2{
    color: #880E4F;
}

.cl-b0{
    color: #80D8FF;
}
.cl-b1{
    color: #03A9F4;  
}
.cl-b2{
    color: #0D47A1;  
}

.cl-v0{
    color: #64FFDA !important;
}
.cl-v1{
    color: #009688 !important;  
}
.cl-v2{
    color: #004D40;  
}

/* my  outsiders back and font colour */
.cl-org{
    color: #ff9800;
}
.cl-jn{
    color: #f6b600;
}
.cl-rgorg{
    color: #ff897d;
}
.bg-org{
    background-color: #ff9800;
}
.bg-jn{
    background-color: #f6b600;
}
.bg-rgorg{
    background-color: #ff897d;
}

/* couleur background */
.bg-iolet{
    background-color: #3e3557;
}
.bg-r0{
    background-color: #ffccb9;
}
.bg-r1{
    background-color: #C2185B;
}
.bg-r2{
    background-color: #880E4F;
}

.bg-b0{
    background-color: #80D8FF;
}
.bg-b1{
    background-color: #03A9F4;  
}
.bg-b2{
    background-color: #0D47A1;  
}

.bg-v0{
    background-color: #64FFDA;
}
.bg-v1{
    background-color: #009688;  
}
.bg-v2{
    background-color: #004D40;  
}

/* couleur fil */
.fl-iolet{
    fill: #3e3557;
}
.fl-r0{
    fill: #ffccb9;
}
.fl-r1{
    fill: #C2185B;
}
.fl-r2{
    fill: #880E4F;
}

.fl-b0{
    fill: #80D8FF; 
}
.fl-b1{
    fill: #03A9F4;  
}
.fl-b2{
    fill: #0D47A1;  
}

.fl-v0{
    fill: #64FFDA;
}
.fl-v1{
    fill: #009688;  
}
.fl-v2{
    fill: #004D40;  
}

/* index */
#klogo{
    width: 115px !important;
}
#mascot{
    width: 170px;
}
#mascot-news{
    width: 170px;
}
.mascot3{
    width: 100px;
}
.btn-lng{
    color: #f2f2f2;
    transition: .5s;
}

.btn-lng:hover{
    color:#f6b600;
}

.kplatform{
    width: 75px;
    margin: auto;
}

/* media sm*/

@media (min-width: 576px) {
    .kplatform{
        width: 130px;
        margin: auto;
    }
}

/* media md*/
@media (min-width: 768px) {
    .justify-md-content-end {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important;
      }
}

/* media lg*/
@media (min-width: 992px) {
}

/* hid */
@media (max-width: 991px) {
    
}

@media (max-width: 767px) {
    .menu-hide-mob{
        display: none;
    }
    #global-search{
        width: 100% !important;
    }

    .nohv{
        color: #003668 !important;
    }
    .nohv:hover{
        background-color: #fff;
        color: #003668
    }
   
    
}
@media (min-width: 768px) {
    .menu-hide-lag{
        display: none;
    }
}

/* @media (max-width: 483px) {
    .weight-mus{
        width: 100% !important;
    }
} */



.kplay:hover{
    background-color: #007bff !important;
    border-color: #007bff !important;
    color: white !important;
}

.kevent:hover{
    background-color: #0D4D3F !important;
    border-color: #0D4D3F !important;
    color: white !important;
}

.kmovie:hover{
    background-color: #6f2089 !important;
    border-color: #6f2089 !important;
    color: white !important;
}


#knews,#kplay,#kevent{
    fill: #f2f2f2;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#knews:hover{
    fill: #007bff;
}

#kplay:hover{
    fill: #dc3545;
}

#kevent:hover{
    fill: #20c997;
}
.btn-social{
    color: #f2f2f2;
}
.btn-social:hover{
    color: rgba(255,255,255,0.5) !important;
    transition: .3s !important;
}

.btn-social2{
    color: #666;
}
.btn-social2:hover{
    color: rgba(0,0,0,0.5) !important;
    transition: .3s !important;
}
/* couv index */
.two{
    background-attachment: fixed;
    opacity: 0.3;
  }

 
  
  .one{
    background-color: #3e3557;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed ;
    background-position:center top;
    z-index: 10;
    top:0px;
    left:0px;
  }


  .tree{  
    background: linear-gradient(rgba(0,0,0,.009),#000);
  }

  .couv-fx{
    background-color: #3e3557;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center center;
  }

  .couv{
    transition:.3s;
  }
  .couv-news,.couv-event{  
    background-color:#000a138a;
  }
  .couv-foot{  
    background-color:rgba(0,0,0,.86);
  }
  .une-news{
    color: rgba(0,0,0,.71);
  }
  .c2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s; }

    .c05s {
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s; }
     .c1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }

    .c15s {
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s; }

.context-menu a{
    color: #f5f8faa6 !important;
}


.context-menu a:hover{
    color: #f5f8fa !important;
    transition: .3s;
}

.sc-news{
    color: rgba(0,0,0,0.4);
    transition: .3s;  
}

.sc-news:hover{
    color: rgba(0,0,0,0.7);
    transition: .3s;  
}

.context-menu-top .a-menu{
    color: rgba(0,0,0,0.7) ;
    transition: .3s;
}

.context-menu-top .a-menu:hover{
    color: rgba(0,0,0,0.7) !important;
    transition: .3s;
}

.toile-content {
    border: 1px solid #e6ecf0;
    border: 1px solid rgba(0,0,0,0.1);
    background-clip: padding-box;
}
.toile-bl {
    border-left: 1px solid #e6ecf0;
    border-left: 1px solid rgba(0,0,0,0.1);
}

.search-input {

    background-color: #f5f8fa;
    border-radius: 21px;
    border: 1px solid #e6ecf0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #14171a;
    display: block;
    font-size: 12px;
    height: 32px;
    line-height: 16px;
    padding: 8px 32px 8px 12px;
    transition:.3s ease-in-out;
    width: 100%;

}
.news-search:focus{
 border:2px solid #80D8FF;
 border-radius: 0px;
}

#global-search {

    float: left;
    height: 33px;
    margin-right: 15px;
    font-size: 12px;
    width: 221px;
}

.search-icon {

    cursor: pointer;
    display: block;
    height: 26px;
    position: absolute;
    right: 3px;
    top: 6px;
    width: 26px;

}

.bx-sh-lateral{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}

.intro-presentation {

    display: inline;
    background: #003668;
    color: #fff;
    padding: 2px 0 4px 0;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    -webkit-box-shadow: 16px 0 0 #003668,-16px 0 0 #003668;
    box-shadow: 16px 0 0 #003668,-16px 0 0 #003668;

}

.brd-bt-news{
    border-bottom: 5px solid #003668;
}
.brd-tp-news{
    border-top: 5px solid #003668;
}

.bg-news{
    background-color: #003668;
}

.intro-size{
    font-size: 2.5rem;
    line-height: 3rem;
}

.lh-x{
    line-height: 1rem !important;
}
.lh-12{
    line-height: 1.2rem !important;
}
.lh-16{
    line-height: 16px !important;
}

.btn-rounded {

    -webkit-border-radius: 10em;
    border-radius: 10em;

}

.btn-news {
    color: #fff;
    background-color: #003668 !important;
    border-color: #003668 !important;
  }

.actu-news-img{
    min-height: 350px;
    background-color: #3e3557;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center top;
}

.ovv{
    overflow: visible !important;
}
.ovh{
    overflow: hidden !important;
}
.drt-sld {
    border: 1px solid #e6ecf0;
    border: 1px solid rgba(0,0,0,0.1);
}
.drt-sld:hover {
    border: 1px solid #dc3545;
}
.drt-sld:active {
    color: #dc3545;
    border-color: rgba(0,0,0,0.1);;
}

.elm-cate:hover,.elm-ticket:hover{
    background-color: rgba(255, 255, 255, 0.884);
    color: rgba(0,0,0,.71);
    transition: 0.2s;
}

.elm-lng-news:hover{
    background-color: rgba(255, 255, 255, 0.884);
    color: #003668 !important;
    transition: 0.2s;
}


@-webkit-keyframes bounceInDown2 {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -1px, 0);
      transform: translate3d(0, -1px, 0); }
    50% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0); }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); } }
  
  @keyframes bounceInDown2 {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -1px, 0);
      transform: translate3d(0, -1px, 0); }
    50% {
      opacity: 1;
      -webkit-transform: translate3d(0, 8px, 0);
      transform: translate3d(0, 8px, 0); }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); } }
  
      .bounceInDown2 {
        -webkit-animation-duration: 0.25s;
        animation-duration: 0.25s;
        -webkit-animation-name: bounceInDown2;
        animation-name: bounceInDown2; }

.dr-025{
    -webkit-animation-duration: 2s !important;
    animation-duration: 2s !important;
}
.dr-03{
    -webkit-animation-duration: .3s !important;
    animation-duration: .3s !important;
}
.lst-elm-cate{
    z-index: 20;
}

.trs-03{
    transition: .3s !important;
}
.trs-02{
    transition: .2s !important;
}

footer{
    min-height: 100px;
}

.menbas{
    color: rgba(248, 83, 83, 0.4);
    
}

.menbas:hover{
    color: rgba(255,255,255,0.8);
}

.foot-titre{
    color:white;
    padding: 7px;
    padding-left: 0px;
    font-size: 16px;
}

.sep2{
    border:1px solid rgba(255, 255, 255, 0.678) !important;
  }

  .tp-lst,.lst-sgl{  
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid transparent;
}
/* for the top */
.z1-10{
z-index: 10;
}
.tp-lst-elm,.lst-sgl,.bg-sgl{
    background-color: #f2f2f2;
}
.tp-lst-elm2{
    background-color: #fcf9f9;
}

  .tp-lst:hover{
    /*background-color: #fff;*/
    background-color: #cecaca;
  }


  .tp5-pl{
    background-color: #fff;
    color: rgba(0, 0, 0, 0.479);
    z-index: 12;
  }
  .tp5-pl:hover{
    background-color: #e3e2e2;
  }

  /* .tp-lst:hover{
    background-color: white;
    border: 1px solid rgba(0,0,0,0.15);
  } */

  

.hv-wh-50:hover{
    color: rgba(255, 255, 255, 0.8) !important;
}

.cur-pointer{
    cursor: pointer;
}

.cur-def{
    cursor: default;
}

.tp-lf0{
    top:0px !important;
    left:0px !important;
}

.or-topcent
{
    transform-origin: top center;
}
.or-centcent
{
    transform-origin: center !important;
}

.text-red{
    color:#dc3545;
}

.men-top-elm:hover{
    background-color: #fff;
    color: rgba(255, 255, 255, 1) !important;
}



.opa-0{
    opacity: 0;
}

.opa-1{
    opacity: 1;
}
.opa-0x{
    opacity: .1;
}
.lst-elm-men{
    z-index: 102;
}
.lst-elm-lng,.zit{
    z-index: 110;
}

.img-vbl{
    vertical-align: baseline !important;
}

.tolltip{
    border-radius: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.801) !important;
    width:-moz-max-content;
    width: max-content;
    text-align: center;
    line-height: 15px;
    font-size: 13px;
    max-width: 150px;
    z-index: 200;
}

.brd-bl{
    border: 2px solid white;
}

.img-photo-com{
    width: 72px !important;
    height: 72px !important;
    transform: rotate(-30deg);
}
.content-mus{
    height: 200px;
    background-color: #3e3557;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center top;
}
.content-mus-v,.content-mus-vi{
    margin: auto;
    height: 150px;
    width: 150px;
    background-color: #3e3557;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center top;
}
.content-mus-vi{
    height: 130px;
    width: 130px;
}
.trait-btm{
    box-shadow: inset 0 -1px 0 rgba(100,121,143,0.122);
}
.rot-90{
    transform: rotate(45deg);
}

.rot-30{
    transform: rotate(30deg);
}

.rot-20{
    transform: rotate(20deg);
}

.classement{
    border-bottom-right-radius: 7px;
}

.roud-close{
    border-bottom-left-radius: 20px;
}

.bnt-close,.bnt-close-v,.bnt-closet,.lct-btn{
    background-color: rgba(0, 0, 0, 0.109);
}

.bnt-close:hover,.bnt-close-v:hover,.bnt-closet:hover,.lct-btn:hover{
    background-color: rgba(0, 0, 0, 0.159);
    color:#dc3545 !important;
}
.lct-btn{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.btn-in-img{
    
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #6e42c1b6;
    color: rgb(255, 255, 255) !important;
}
.btn-in-img:hover{
    background-color: #6f42c1;
}
.info-playlist,.info-vote,.info-part{
    bottom: 10px;
    right: 10px;
    z-index: 300; 
    background-color: #6f42c1;
}
.lecteur{
    width: 350px;
    min-height: 150px;
    bottom: 10px;
    right: 10px;
    z-index: 300;
}

.lecteur-video{
    max-width: 560px;
    min-height: 150px;
    bottom: 10px;
    right: 10px;
    z-index: 300;
}
.lecteur-g{
    width: 100px;
    height: 100px;
}
.lecteur-d{
    width: 198px;
}
.lecteur-couv{
    left: 88px;
}
.lecteur-img{
    background-color: #3e3557;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center top;
}
.lecteur-out{
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0); 
}

.formtk-out{
    opacity: 0;
    -webkit-transform: translate3d(0, 70%, 0);
    transform: translate3d(0, 70%, 0);
}

@-webkit-keyframes siut {
    from {
      -webkit-transform: translate3d(0, 50%, 0);
      transform: translate3d(0, 50%, 0);
      visibility: visible; 
      opacity: 0;
    }
    to {
        opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); } }
  
  @keyframes siut {
    from {
      -webkit-transform: translate3d(0, 50%, 0);
      transform: translate3d(0, 50%, 0);
      visibility: visible; 
      opacity: 0;
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); } }
  .siut {
    -webkit-animation-name: siut;
    animation-name: siut; 
    -webkit-animation-duration: .3s;
    animation-duration: .3s;}
    @-webkit-keyframes sout {
        from {
            opacity: 1;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }}
        to {
            opacity: 0;
            -webkit-transform: translate3d(0, 50%, 0);
            transform: translate3d(0, 50%, 0);
        }
      
      @keyframes sout {
        from {
            opacity: 1;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);}
        to { 
            opacity: 0;
            -webkit-transform: translate3d(0, 50%, 0);
            transform: translate3d(0, 50%, 0);
            visibility:hidden;
          } }
      .sout {
        -webkit-animation-name: sout;
        animation-name: sout; 
        -webkit-animation-duration: .3s;
        animation-duration: .3s;}

.video{
    min-height:300px ;
}
.p-lst{
    z-index: 400 !important;
}
.elt-plst:hover{
    background-color: rgba(0, 0, 0, 0.062);
}
.lst-nbr-plst{
    max-height: 200px;
    overflow: auto;
}
@-webkit-keyframes slideOutDownMine {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible; }
        
        10%,90% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
        
        to {
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 150%, 0);
            visibility: hidden;
            display: none }
    }
  
  @keyframes slideOutDownMine {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible; }

      10%,90% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
        
        to {
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 150%, 0);
            visibility: hidden;
            display: none }
    }
  
  .delay-out {
    -webkit-animation-name: slideOutDownMine;
    animation-name: slideOutDownMine; }

.ticket{
    background-color: #170c0b99;
    border: 1px solid transparent;
}
.ticket:hover,.ticket:active,.ticket:focus{
    border: 1px solid rgba(255, 255, 255, 0.274);
}
.z1-18{
    z-index: -18;
}
.zitp{
    z-index: 2000;
}

input{
    border:1px solid rgba(0, 0, 0, 0.212);
    transition: .2s 
}
input:hover,input:active,input:focus{
    border:1px solid rgba(59, 1, 57, 0.281);
}
.tkdet{
    display: inline-block;
}
.chx-cnt{
    background-color: rgba(255, 255, 255, 0.692);
}
.tpm,.gdm{
    border: 1px solid rgba(0, 0, 0, 0.281);
}
.tpmc:hover,.gdmc:hover,.gdac:hover{
    color: purple  !important;
    background-color: rgba(128, 0, 128, 0.093);
}
.tpmc,.gdmc{
    border: 1px solid #28a745;
    color: #28a745 !important;
}
.tpm:hover,.gdm:hover,.gda:hover{
    color: #28a745 !important;
    background-color: #28a74648 !important;
}

.proov{
    background-color: #03f53c !important;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    top: 3px;
    right: 3px;
}
.slta{
    background-color: #03f53c !important;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}
.brd-vt{
    border:2px solid #03f53c !important;
}
.mh500{
    max-height: 300px !important;
    overflow-y: auto;
}
.hkbox{
    top:0px;
    left: 0px;
}
.roud5{
    border-radius:5px; 
}

/* lecteur */
.jp-details, .jp-playlist {
    width: 100%;
    background-color:#e3e2e2c7 !important;
    border-top: none !important;
    max-height: 100px;
    overflow: auto;
}
.jp-playlist li {
    padding: 5px 0 4px 20px;
    border-bottom: 1px solid #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mus-progress-bar {
    height: 5px;
    background-color: #ddd;
  }
  .seek-bar {
    background-color: rgba(0, 0, 0, 0.109);
    width: 0px;
    height: 100%;
    cursor: pointer; }
  
  .play-bar {
    background-color: #C2185B !important;
    width: 0px;
    height: 100%; }

  .volume-bar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.109);
    width: 46px;
    height: 5px;
    cursor: pointer; }
  
  .volume-bar-value {
    background-color: rgba(13, 121, 243, 0.979);
    width: 0px;
    height: 5px; }
.jp-video .jp-type-playlist .jp-controls {
    width: 134px;
    margin-left: 172px; }
.jp-audio .jp-type-playlist .jp-progress {
    left: 166px;
    width: 130px; }
.jp-audio .jp-type-playlist .jp-time-holder {
    left: 166px;
    width: 130px; }
.jp-type-single .jp-details,
.jp-type-playlist .jp-details {
    border-top: none; }
div.jp-type-playlist div.jp-playlist li:last-child {
    padding: 5px 0 5px 20px;
    border-bottom: none; }
    
    div.jp-type-playlist div.jp-playlist li.jp-playlist-current {
    list-style-type: square;
    list-style-position: inside;
    padding-left: 7px; }
    
    div.jp-type-playlist div.jp-playlist a {
    color: #333;
    text-decoration: none; }
    
    div.jp-type-playlist div.jp-playlist a:hover {
    color: #0d88c1; }
    
    div.jp-type-playlist div.jp-playlist a.jp-playlist-current {
    color: #0d88c1; }
    
    div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove {
    float: right;
    display: inline;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
    color: #666; }
    
    div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove:hover {
    color: #0d88c1; }
    
    div.jp-type-playlist div.jp-playlist span.jp-free-media {
    float: right;
    display: inline;
    text-align: right;
    margin-right: 10px; }
    
    div.jp-type-playlist div.jp-playlist span.jp-free-media a {
    color: #666; }
    
    div.jp-type-playlist div.jp-playlist span.jp-free-media a:hover {
    color: #0d88c1; }
.jp-audio .jp-type-playlist .jp-toggles {
    width: 55px;
    margin: 0;
    position: absolute;
    left: 325px;
    top: 50px; }
span.jp-artist {
    font-size: .9em;
    color: #666; }

.jp-playlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
    font-size: .85em; }
    
.jp-playlist li div {
    display: inline; }
