 
     <!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Se connecter </title>
    
    <link rel="shortcut icon" href="../favicon.png">
    <link rel="stylesheet" href="assets/css/reset1.css">

    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
	<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

        <link rel="stylesheet" href="assets/css/connect.css">

  </head>

  <body>

     <div class="pen-title">
  <h1></h1><span> Connectez-vous pour commencer!</span>
  
</div>
<div class="module form-module">
  
  <div class="form">
     
  </div>
  <div class="form">
  <h2 align="center">Connectez-vous</h2>
  <form method="post" action="{{ path("fos_user_security_check") }}" method="post">
     {% if error   %}
      <div style="color:red">  
           {{ error.messagekey  | trans(error.messagedata, 'security') }} 
      </div>
      <br>
     {% endif %}
      
      <input  placeholder="login" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control"/>
      
      <input  placeholder="mot de passe" class="form-control" type="password" id="password" name="_password" required="required"/>
      
      <button type="submit">Connecter</button>
    </form>
      <br>
   <div ><a href="{{ path("fos_user_resetting_request") }}">Mot de passe oublié?</a></div>
  </div>
  
    <div class="cta"> Pas de compte?  <a href="{{ path('fos_user_registration_register') }}" style="color: #33b5e5;font-size: 15px" >   S'inscrie</a> </div>
               
</div>

        <script src="js/index.js"></script>

    
  </body>
</html>
