<form method="post" action="{{ path('home_pays_delete', {'id': home_pay.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ home_pay.id) }}">
    <button class="btn">Delete</button>
</form>
