{% extends 'template.html.twig' %}

{% block title %}Pays | Détails{% endblock %}

{% block body %}
    <h2>Détails d'un Pays</h2>

   <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ home_pay.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ home_pay.nom }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
