{% extends 'template.html.twig' %}

{% block title %}Vidéo | Détails{% endblock %}

{% block body %}
    <h2>Détails d'une vidéo</h2>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ play_video.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ play_video.titre }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ play_video.photo }}</td>
            </tr>
            <tr>
                <th>Fichier</th>
                <td>{{ play_video.fichier }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ play_video.lien }}</td>
            </tr>
            <tr>
                <th>DateEnreg</th>
                <td>{{ play_video.dateEnreg ? play_video.dateEnreg|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
