{{ form_start(form) }}
<div class="panel-body">
  
 
    {{ form_widget(form) }}
    <br>
     {%if play_artiste.photo1!=null%}
                        <div class="row">
                                <span>Photo1: </span>
                               <img src="{{asset('images/artistes/')}}{{play_artiste.photo1}}" style="width:100px;height: 80px" class="img" alt="Aucune image">
                        <a class="btn btn-danger" title="supprimer" href="{{ path('play_artiste_Photo1', { 'id': play_artiste.id }) }}"><i class="fa fa-close"></i></a>
                                               
                        </div>
                         <br>
                        {% endif%}

     {%if play_artiste.photo2!=null%}
                        <div class="row">
                                <span>Photo2: </span>
                               <img src="{{asset('images/artistes/')}}{{play_artiste.photo2}}" style="width:100px;height: 80px" class="img" alt="Aucune image">
                        <a class="btn btn-danger" title="supprimer" href="{{ path('play_artiste_Photo2', { 'id': play_artiste.id }) }}"><i class="fa fa-close"></i></a>
                                               
                        </div>
                        {% endif%}                   

             <div class=" text-center">
                    <button class="btn btn-info">{{ button_label|default('Enregistrer')}}</button>
             </div>
{{ form_end(form) }}