{% extends 'template.html.twig' %}

{% block title %}Artiste | Détails{% endblock %}

{% block body %}
    <h2>Détails d'un artiste</h2>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ play_artiste.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ play_artiste.pseudo }}</td>
            </tr>
            <tr>
                <th>Photo1</th>
                <td>{{ play_artiste.photo1 }}</td>
            </tr>
            <tr>
                <th>Photo2</th>
                <td>{{ play_artiste.photo2 }}</td>
            </tr>
            <tr>
                <th>DateEnreg</th>
                <td>{{ play_artiste.dateEnreg ? play_artiste.dateEnreg|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
