{% extends 'template.html.twig' %}

{% block title %}Categorie Actualite{% endblock %}

{% block body %}
    <h2>Détails d'une categorie d'actualite</h2>

   <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ news_categorie_actualite.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ news_categorie_actualite.nom }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ news_categorie_actualite.couleur }}</td>
            </tr>
        </tbody>
    </table>


{% endblock %}
