{{ form_start(form) }}
<div class="panel-body">
  
 
    {{ form_widget(form) }}
    <br>
     {%if play_single.photo!=null%}
                        <div class="row">
                                <span>Photo</span>
                               <img src="{{asset('images/singles/images')}}{{play_single.photo}}" style="width:100px;height: 80px" class="img" alt="Aucune image">
                        <a class="btn btn-danger" title="supprimer" href="{{ path('play_single_Photo', { 'id': play_single.id }) }}"><i class="fa fa-close"></i></a>
                                               
                        </div>
                        {% endif%}                 

             <div class=" text-center">
                    <button class="btn btn-info">{{ button_label|default('Enregistrer')}}</button>
             </div>
{{ form_end(form) }}