{% extends 'template.html.twig' %}

{% block title %}Single | Détails{% endblock %}

{% block body %}
    <h2>Détails d'un single</h2>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ play_single.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ play_single.titre }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ play_single.type }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ play_single.prix }}</td>
            </tr>
            <tr>
                <th>Fichier</th>
                <td>{{ play_single.fichier }}</td>
            </tr>
            <tr>
                <th>Extrait</th>
                <td>{{ play_single.extrait }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ play_single.photo }}</td>
            </tr>
            <tr>
                <th>Vue</th>
                <td>{{ play_single.vue }}</td>
            </tr>
            <tr>
                <th>DateEnreg</th>
                <td>{{ play_single.dateEnreg ? play_single.dateEnreg|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    
{% endblock %}
