.st0{fill:#999999;}
.st1{fill:#686768;}
.st2{fill:none;stroke:#B3B3B3;stroke-width:11.1854;stroke-miterlimit:10;}
.st3{fill:none;stroke:#FFFFFF;stroke-width:8;stroke-linecap:round;stroke-miterlimit:10;}

.intro-presentation-acc{

    display: inline;
    background: #8e24aa;
    color: #fff;
    padding: 2px 0 4px 0;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    -webkit-box-shadow: 16px 0 0 #8e24aa,-16px 0 0 #8e24aa;
    box-shadow: 16px 0 0 #8e24aa,-16px 0 0 #8e24aa;

}
.intro-presentation-snd{

    display: inline;
    background: #ffffff;
    color: #8e24aa;
    padding: 2px 0 4px 0;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    -webkit-box-shadow: 16px 0 0 #ffffff,-16px 0 0 #ffffff;
    box-shadow: 16px 0 0 #ffffff,-16px 0 0 #ffffff;
}


