.formul{
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    background-color: rgba(255, 255, 255, 1);
}


#mascot2{
    width: 100px;
}

.mascot2{
    width: 100px;
}

.bifaf::after,.bifaf::before{
    content: '';
    display: inline-block   ;
    width: 60px;
    border-bottom:1px solid rgba(0, 0, 0, 0.248);
    position: relative;
    top: -4px;
    margin: 0px 4px 0px 4px;
}
