
.content-mus{
    height: 200px;
    background-color: #3e3557;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center top;
}

.name-mus{
    line-height: 16px;
    color:rgba(0,0,0,.71);
    text-align: left !important;
}

.weight-mus{
    width: 192px;
}

.lct-event{  
    background: linear-gradient(#000,rgba(0,0,0,.009));
  }

.event-search:focus{
    border:2px solid #0a4d3e94;
    border-radius: 0px;
   }

.brd-bt-event{
    border-bottom: 5px solid #0a4d3f;
}

.brd-bt-event-2{
    border-bottom: 1px solid #e6ecf0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.brd-tp-event{
    border-top: 5px solid #0a4d3f;
}

.bg-event{
    background-color: #0a4d3f;
}
.bg-event-pop{
    background-color: #0a4d3ef5;
}
.cl-event{
    color: #0a4d3f;
}
.time-event{
    display: none;
}
.btn-event {
    color: #fff;
    background-color: #0a4d3f !important;
    border-color: #0a4d3f !important;
  }
  .couv-event{  
    background-color:#000a138a;
  }
.elm-lng-event:hover{
    background-color: rgba(255, 255, 255, 0.884);
    color: #0a4d3f !important;
    transition: 0.2s;
}

.red .lighten-2 {
    background-color: #e57373 !important; }

.intro-presentation-event {

    display: inline;
    background: #0a4d3f;
    color: #fff;
    padding: 2px 0 4px 0;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    -webkit-box-shadow: 16px 0 0 #0a4d3f,-16px 0 0 #0a4d3f;
    box-shadow: 16px 0 0 #0a4d3f,-16px 0 0 #0a4d3f;
}

.tt{
    color: rgba(0,0,0,.71);
}

.tt:hover{
    color: #0a4d3f;
}
.weight-mus-v{
    width: 100px;
}