.tt{
    color: rgba(0,0,0,.71);
}

.tt:hover{
    color: #003668;
}

.lct-event{  
    background: linear-gradient(#000,rgba(0,0,0,.009));
}

.brd-bt-elm{
    border-bottom: 5px solid #003668;
    border-top: 5px solid #003668;
}

.weight-mus{
    width: 192px;
} 

.weight-mus2{
    width: 147px;
}  

.content-mus{
    height: 147px;
}

.weight-mus2-vid {
    width: 180px;
}

.hg-ban{
    min-height: 400px;
}


.content-vid {
    height: 113px;
    background-color: #3e3557;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.actu-news-acc{
    min-height: 150px;
    background-color: #3e3557;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center top;
}

.actu-news-acc2{
    min-height: 250px;
    background-color: #3e3557;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center top;
}

