<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %}</title>
        <link rel="shortcut icon" href="{{asset('assets/images/logo.ico')}}">
        <!--STYLESHEET-->
        <!--=================================================-->
        {# <!--Roboto Slab Font [ OPTIONAL ] -->
        <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,700italic,300,700,500italic,400" rel="stylesheet"> #}
        <!--w3css Stylesheet [ REQUIRED ]-->
        <link href="{{asset('assets/css/w3color.css')}}" rel="stylesheet">
        <!--Bootstrap Stylesheet [ REQUIRED ]-->
        <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
        <!--Jasmine Stylesheet [ REQUIRED ]-->
        <link href="{{asset('assets/css/style.css')}}" rel="stylesheet">
        <!--Font Awesome [ OPTIONAL ]-->
        <link href="{{asset('assets/plugins/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
        <!--Switchery [ OPTIONAL ]-->
        <link href="{{asset('assets/plugins/switchery/switchery.min.css')}}" rel="stylesheet">
        <!--Bootstrap Select [ OPTIONAL ]-->
        <link href="{{asset('assets/plugins/bootstrap-select/bootstrap-select.min.css')}}" rel="stylesheet">
        <!--Bootstrap Validator [ OPTIONAL ]-->
        <link href="{{asset('assets/plugins/bootstrap-validator/bootstrapValidator.min.css')}}" rel="stylesheet">
        <!--jVector Map [ OPTIONAL ]-->
        <link href="{{asset('assets/plugins/jvectormap/jquery-jvectormap.css')}}" rel="stylesheet">
        <!--Demo [ DEMONSTRATION ]-->
        <link href="{{asset('assets/css/demo/jquery-steps.min.css')}}" rel="stylesheet">
        <!--Demo [ DEMONSTRATION ]-->
        <link href="{{asset('assets/css/demo/jasmine.css" rel="stylesheet')}}">
        <!--SCRIPT-->
        <!--=================================================-->
        <!--Page Load Progress Bar [ OPTIONAL ]-->
        <link href="{{asset('assets/plugins/pace/pace.min.css')}}" rel="stylesheet">
        <script src="{{asset('assets/plugins/pace/pace.min.js')}}"></script>
       
        <link href="{{asset('assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css')}}" rel="stylesheet">
        <!--Jquery Tag It [ OPTIONAL ]-->
        <link href="{{asset('assets/plugins/tag-it/jquery.tagit.css')}}" rel="stylesheet">
        <!--Ion.RangeSlider [ OPTIONAL ]-->
        <link href="{{asset('assets/plugins/ion-rangeslider/ion.rangeSlider.css" rel="stylesheet">
        <link href="plugins/ion-rangeslider/ion.rangeSlider.skinNice.css')}}" rel="stylesheet">
        <!--Chosen [ OPTIONAL ]-->
        <link href="{{asset('assets/plugins/chosen/chosen.min.css')}}" rel="stylesheet">
        <!--noUiSlider [ OPTIONAL ]-->
        {# <link href="{{asset('assets/plugins/noUiSlider/jquery.nouislider.min.css')}}" rel="stylesheet">
        <link href="{{asset('assets/plugins/noUiSlider/jquery.nouislider.pips.min.css')}}" rel="stylesheet"> #}
        <!--Bootstrap Timepicker [ OPTIONAL ]-->
        <link href="{{asset('assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css')}}" rel="stylesheet">
        <!--Bootstrap Datepicker [ OPTIONAL ]-->
        <link href="{{asset('assets/plugins/bootstrap-datepicker/bootstrap-datepicker.css')}}" rel="stylesheet">
        <!--Dropzone [ OPTIONAL ]-->
        <link href="{{asset('assets/plugins/dropzone/dropzone.css')}}" rel="stylesheet">
        <!--Summernote [ OPTIONAL ]-->
        <link href="{{asset('assets/plugins/summernote/summernote.min.css')}}" rel="stylesheet">
        <link href="{{asset('assets/plugins/datatables/media/css/dataTables.bootstrap.css')}}" rel="stylesheet">
        <link href="{{asset('assets/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css')}}" rel="stylesheet">

    </head>
   <body>
        <div id="container" class="effect mainnav-lg navbar-fixed mainnav-fixed">
           
            <header id="navbar">
                <div id="navbar-container" class="boxed">
                   
                    <div class="navbar-header">
                        <a href="{{path('admin')}}" class="navbar-brand">
                            <img src="{{asset('assets/images/logo.jpeg')}}" class="bg-img img-responsive" title="Les Pachas" style="width: 63px; height: auto;">
                            <div class="brand-title"style="padding-left: 75px;">
                                <span class="brand-text">  KOSSA NEWS</span>
                            </div>
                        </a>
                    </div>

                    <div class="navbar-content clearfix">
                        <ul class="nav navbar-top-links pull-left">
                            
                            <li class="tgl-menu-btn">
                                <a class="mainnav-toggle" href="#"> <i class="fa fa-navicon fa-lg"></i> </a>
                            </li>
                            
                        </ul>
                    
                   
                        <ul class="nav navbar-top-links pull-right">
                         <li class=" dropdown navbar-right"><a>Bienvenue &ensp;<b> {{ app.user.username|default('undefined') }}</b></a></li>
                           <li>
                                            <a href="{{path ('fos_user_security_logout')}}">
                                            <i class="glyphicon glyphicon-off fa-1x"></i>
                                            <span class="menu-title">Déconnexion</span>
                                            </a>
                                        </li> 
                        </ul>
                   
                   </div>
                </div>
            </header>
            
            <div class="boxed">
               <div id="content-container">
                    {% block hearder %}
                    {% endblock %}
                    <div id="page-content">
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
               
                <nav id="mainnav-container">
                    <div id="mainnav">
                        <div id="mainnav-menu-wrap" >
                            <div class="nano">
                                <div class="nano-content">
                                    <ul id="mainnav-menu" class="list-group">
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li>
                                            <a href="{{path('admin')}}">
                                            <i class="glyphicon glyphicon-home fa-1x"></i>
                                            <span class="menu-title">Accueil</span>
                                            </a>
                                          
                                        </li>
                                       
                                        <li class="list-divider"></li>
                                        <li>
                                            <a href="#">
                                            <i class="fa fa-picture-o fa-1x"></i>
                                            <span class="menu-title">Bannières</span>
                                            <i class="arrow"></i>
                                            </a>
                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a href="{{path('home_banniere_index')}}"><i class="fa fa-caret-right"></i> Liste </a></li>
                                                <li><a href="{{path('home_banniere_new')}}"><i class="fa fa-caret-right"></i> Ajouter </a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                            <i class="fa fa-map fa-1x"></i>
                                            <span class="menu-title"> Pays
                                            </span>
                                            <i class="arrow"></i>
                                            </a>
                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a href="{{path('home_pays_index')}}"><i class="fa fa-caret-right fa-1x"></i>Liste </a></li>
                                                <li><a href="{{path('home_pays_new')}}"><i class="fa fa-caret-right fa-1x"></i> Ajouter </a></li>
                                            </ul>
                                        </li>
                                         <!--Menu list item-->
                                        <li>
                                            <a href="#">
                                            <i class="glyphicon glyphicon-globe"></i>
                                            <span class="menu-title">Catégories actualités</span>
                                            <i class="arrow"></i>
                                            </a>
                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a href="{{path('news_categorie_actualite_index')}}"><i class="fa fa-caret-right fa-1x"></i> Liste </a></li>
                                                <li><a href="{{path('news_categorie_actualite_new')}}"><i class="fa fa-caret-right fa-1x"></i> Ajouter</a></li>
                                            </ul>
                                        </li>

                                        <!--Menu list item-->
                                        <li>
                                            <a href="">
                                            <i class="glyphicon glyphicon-globe fa-1x"></i>
                                            <span class="menu-title">Actualtés</span>
                                            <i class="arrow"></i>
                                            </a>
                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a href="{{path('news_actualite_index')}}"><i class="fa fa-caret-right fa-1x"></i> Liste </a></li>
                                                <li><a href="{{path('news_actualite_new')}}"><i class="fa fa-caret-right fa-1x"></i> Ajouter </a></li>
                                            </ul>
                                        </li>

                                      <li>
                                            <a href="">
                                            <i class="glyphicon glyphicon-briefcase fa-1x"></i>
                                            <span class="menu-title">Tags</span>
                                            <i class="arrow"></i>
                                            </a>
                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a href="{{path('news_tag_index')}}"><i class="fa fa-caret-right fa-1x"></i> Liste </a></li>
                                                <li><a href="{{path('news_tag_new')}}"><i class="fa fa-caret-right fa-1x"></i> Ajouter </a></li>
                                            </ul>
                                        </li>
                                        
                                        <li>
                                            <a href="">
                                            <i class="glyphicon glyphicon-briefcase fa-1x"></i>
                                            <span class="menu-title">Genres musicaux</span>
                                            <i class="arrow"></i>
                                            </a>
                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a href="{{path('play_genre_musicaux_index')}}"><i class="fa fa-caret-right fa-1x"></i> Liste </a></li>
                                                <li><a href="{{path('play_genre_musicaux_new')}}"><i class="fa fa-caret-right fa-1x"></i> Ajouter </a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">
                                            <i class="glyphicon glyphicon-user fa-1x"></i>
                                            <span class="menu-title">Artises</span>
                                            <i class="arrow"></i>
                                            </a>
                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a href="{{path('play_artiste_index')}}"><i class="fa fa-caret-right fa-1x"></i> Liste </a></li>
                                                <li><a href="{{path('play_artiste_new')}}"><i class="fa fa-caret-right fa-1x"></i> Ajouter </a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">
                                            <i class="fa fa-book fa-1x"></i>
                                            <span class="menu-title">Albums</span>
                                            <i class="arrow"></i>
                                            </a>
                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a href="{{path('play_album_index')}}"><i class="fa fa-caret-right fa-1x"></i> Liste </a></li>
                                                <li><a href="{{path('play_album_new')}}"><i class="fa fa-caret-right fa-1x"></i> Ajouter </a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">
                                            <i class="glyphicon glyphicon-sound-stereo fa-1x"></i>
                                            <span class="menu-title">Singles</span>
                                            <i class="arrow"></i>
                                            </a>
                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a href="{{path('play_single_index')}}"><i class="fa fa-caret-right fa-1x"></i> Liste </a></li>
                                                <li><a href="{{path('play_single_new')}}"><i class="fa fa-caret-right fa-1x"></i> Ajouter </a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">
                                            <i class="glyphicon glyphicon-sound-stereo fa-1x"></i>
                                            <span class="menu-title">Top singles</span>
                                            <i class="arrow"></i>
                                            </a>
                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a href="{{path('play_top_single_index')}}"><i class="fa fa-caret-right fa-1x"></i> Liste </a></li>
                                                <li><a href="{{path('play_top_single_new')}}"><i class="fa fa-caret-right fa-1x"></i> Ajouter </a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">
                                            <i class="glyphicon glyphicon-film fa-1x"></i>
                                            <span class="menu-title">Vidéos</span>
                                            <i class="arrow"></i>
                                            </a>
                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a href="{{path('play_video_index')}}"><i class="fa fa-caret-right fa-1x"></i> Liste </a></li>
                                                <li><a href="{{path('play_video_new')}}"><i class="fa fa-caret-right fa-1x"></i> Ajouter </a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">
                                            <i class="glyphicon glyphicon-film fa-1x"></i>
                                            <span class="menu-title">Top vidéos</span>
                                            <i class="arrow"></i>
                                            </a>
                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a href="{{path('play_top_video_index')}}"><i class="fa fa-caret-right fa-1x"></i> Liste </a></li>
                                                <li><a href="{{path('play_top_video_new')}}"><i class="fa fa-caret-right fa-1x"></i> Ajouter </a></li>
                                            </ul>
                                        </li>
                                        <!--Menu list item-->
                                        <li>
                                            <a href="">
                                            <i class="fa fa-user fa-1x"></i>
                                            <span class="menu-title">Utilisateur</span>
                                            <i class="arrow"></i>
                                            </a>
                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a href=""><i class="fa fa-caret-right fa-1x"></i> Inscriptions</a></li>
                                                <li><a href=""><i class="fa fa-caret-right fa-1x"></i> Pansions </a></li>
                                              </ul>
                                        </li>

                                        {%endif%}
                                       
                                        <li class="list-divider"></li>
                                        
                                        <!--Menu list item-->
                                    
                                       </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

               
            </div>
           
            <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>

        </div>
        <!--jQuery [ REQUIRED ]-->
        <script src="{{asset('assets/js/jquery-2.1.1.min.js')}}"></script>
        <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
    
        <script src="{{asset('assets/plugins/fast-click/fastclick.min.js')}}"></script>
        
        <script src="{{asset('assets/js/scripts.js')}}"></script>
        
        <script src="{{asset('assets/plugins/switchery/switchery.min.js')}}"></script>
        
        <script src="{{asset('assets/plugins/parsley/parsley.min.js')}}"></script>
        
        <script src="{{asset('assets/plugins/jquery-steps/jquery-steps.min.js')}}"></script>
        
        <script src="{{asset('assets/plugins/bootstrap-select/bootstrap-select.min.js')}}"></script>
        
        <script src="{{asset('assets/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js')}}"></script>
        
        <script src="{{asset('assets/plugins/masked-input/bootstrap-inputmask.min.js')}}"></script>
        
        <script src="{{asset('assets/plugins/bootstrap-validator/bootstrapValidator.min.js')}}"></script>
        
        {# <script src="{{asset('assets/plugins/flot-charts/jquery.flot.min.js')}}"></script>
        <script src="{{asset('assets/plugins/flot-charts/jquery.flot.resize.min.js')}}"></script> #}
        
        {# <script src="{{asset('assets/plugins/flot-charts/jquery.flot.categories.js')}}"></script> #}
        
        <script src="{{asset('assets/plugins/jvectormap/jquery-jvectormap.min.js')}}"></script>
        <script src="{{asset('assets/plugins/jvectormap/jquery-jvectormap-us-aea-en.js')}}"></script>
        
        <script src="{{asset('assets/plugins/easy-pie-chart/jquery.easypiechart.min.js')}}"></script>
 

        <!--Form Wizard [ SAMPLE ]-->
        {# <script src="{{asset('assets/js/demo/index.js')}}"></script> #}
        <!--Form Wizard [ SAMPLE ]-->
        <script src="{{asset('assets/js/demo/wizard.js')}}"></script>
        <!--Demo script [ DEMONSTRATION ]-->
        <script src="{{asset('assets/js/demo/jasmine.js')}}"></script>
        <!--Form Wizard [ SAMPLE ]-->
        <script src="{{asset('assets/js/demo/form-wizard.js')}}"></script>
        <script src="{{asset('assets/plugins/datatables/media/js/jquery.dataTables.js')}}"></script>
        <script src="{{asset('assets/plugins/datatables/media/js/dataTables.bootstrap.js')}}"></script>
        <script src="{{asset('assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js')}}"></script>
        <script src="{{asset('assets/js/demo/tables-datatables.js')}}"></script>
        
        <!--jQuery UI [ REQUIRED ]-->
        <script src="{{asset('assets/js/jquery-ui.min.js')}}"></script>
     
        <!--Bootstrap Tags Input [ OPTIONAL ]-->
        <script src="{{asset('assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js')}}"></script>
        <!--Bootstrap Tags Input [ OPTIONAL ]-->
        <script src="{{asset('assets/plugins/tag-it/tag-it.min.js')}}"></script>
        <!--Chosen [ OPTIONAL ]-->
        <script src="{{asset('assets/plugins/chosen/chosen.jquery.min.js')}}"></script>
        <!--noUiSlider [ OPTIONAL ]-->
        {# <script src="{{asset('assets/plugins/noUiSlider/jquery.nouislider.all.min.js')}}"></script> #}
        <!--Bootstrap Timepicker [ OPTIONAL ]-->
        <script src="{{asset('assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js')}}"></script>
        <!--Bootstrap Datepicker [ OPTIONAL ]-->
        <script src="{{asset('assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js')}}"></script>
        <!--Dropzone [ OPTIONAL ]-->
        <script src="{{asset('assets/plugins/dropzone/dropzone.min.js')}}"></script>
        <!--Dropzone [ OPTIONAL ]-->
        <script src="{{asset('assets/plugins/ion-rangeslider/ion.rangeSlider.min.js')}}"></script>
        <!--Masked Input [ OPTIONAL ]-->
        <script src="{{asset('assets/plugins/masked-input/jquery.maskedinput.min.js')}}"></script>
        <!--Summernote [ OPTIONAL ]-->
        <script src="{{asset('assets/plugins/summernote/summernote.min.js')}}"></script>
        <!--Fullscreen jQuery [ OPTIONAL ]-->
        <script src="{{asset('assets/plugins/screenfull/screenfull.js')}}"></script>
        <!--Form Component [ SAMPLE ]-->
        {# <script src="{{asset('assets/js/demo/form-component.js')}}"></script> #}

     <script src="{{asset('assets/js/demo/tables-datatables.js')}}"></script> 

<script> 
     $(document).ready(function() {
    $('#studentTable').DataTable({
        language: {

            url: "{{asset('assets/data/French.json')}}"

        }
    });
} );
</script> 

{% block javascript %}
{% endblock %}

        
    </body>
</html>
