{% extends 'template.html.twig' %}

{% block title %}Top vidéo | Détails{% endblock %}

{% block body %}
    <h2>Détails d'un top vidéo</h2>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ play_top_video.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ play_top_video.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ play_top_video.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ play_top_video.photo }}</td>
            </tr>
            <tr>
                <th>DateEnreg</th>
                <td>{{ play_top_video.dateEnreg ? play_top_video.dateEnreg|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
